/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
    background-color: #276332;
    background-image: url("/img/noise.png");
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================





   The Home Page style





   ========================================================================== */

.page-home .main {
	width:320px;
	margin:0 auto;
	text-align: center;
	padding-bottom:50px;
}
.page-home #logo {
	margin-top:40px;
	margin-bottom:10px;
	margin-right:-20px;
	width:128px;
}
.page-home .flashMessage {
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	padding-top:20px;
}
.page-home #help {
	float: right;
	margin-right:20px;
	margin-left:-20px;
	padding:10px;
	font-size:12px;
}
.page-home #name {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	padding-bottom:20px;
	margin-bottom:20px;
}
.page-home #info {
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	margin-bottom:10px;

	font-size:16px;
	font-weight:normal;
}
.page-home #geoLocationButton {
	height:42px;
	width:280px;
	margin:0 auto;
	margin-bottom:10px;
}
.page-home #geoLocationSpin {
	position: relative;
	height:32px;
	width:32px;
	left:4px;
	top:-17px;
	background-image: url('/img/loading.gif');
	background-size: 100%;
}
.page-home #geoCode {
	width:280px;
	margin:0 auto;
	margin-bottom:50px;
}
.page-home.lt-ie9 #GeoCode{
	width:300px;
}
.page-home #geoCodeInput input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	background-color: #D2FFB5;
	box-shadow: 0px -1px 0px 0px #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px;
	height:42px;
	width:180px;
	border:none;
	margin-right:10px;
	font-family:;
	font-size:14px;
	font-weight:;
}
.page-home.lt-ie9 #geoCodeInput input {
	padding:0px;
}
/* Changes the color of the placegolder text*/
.page-home input::-webkit-input-placeholder { color:    #276332; }
.page-home input:-moz-placeholder { color:    #276332; }
.page-home input:-ms-input-placeholder { color:    #276332;}
.page-home #geoCodeButton {
	height:42px;
	width:90px;
}
.page-home #geoLocationButton p{
	position:relative;
	top:10px;
}
.page-home #geoCodeButton p{
	position:relative;
	top:10px;
}
.page-home #ButtonBack{
	right:0px;
}
.page-home a,.page-home a:visited,.page-home a:hover{
	color:#D2FFB4;
	text-decoration:none;
}

/* ==========================================================================





   The Select Page style





   ========================================================================== */

.page-select .main {
	width:320px;
	margin:0 auto;
	font-family: Helvetica, Sans-Serif;
	color:#D2FFB4;
	text-shadow: 0px -1px #000;
	padding-bottom:50px;
}

.page-select #Info {
	font-style:italic;
	margin:20px;
	text-align: center;
}
.page-select #Info p{
	padding-bottom:5px;
}

.page-select #Confirm, .page-select #Alert {
	display:none;
	position: fixed;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 280px;
	height: 210px;
	background: #276332;
	padding:10px;
	top: 50%;
    left: 50%;
    margin-left:-150px;
    margin-top:-105px;  
	box-shadow: 0px 0px 100px #000;
}

.page-select #Cancel, .page-select #Ok, .page-select #Continue {
	position:absolute;
	bottom: 10px;
	width:135px;
	height:50px;
}
.page-select #Cancel {left: 10px;}
.page-select #Ok, .page-select #Continue {right:10px;}
.page-select #SearchButton {
	float: left;
	width:300px;
	margin:10px;
	height:50px;
}

.page-select #SearchButton p, 
.page-select #Cancel p, 
.page-select #Ok p,
.page-select #Continue p {
	padding-top: 14px;
}

.page-select a, .page-select a:hover, .page-select a:visited{
	color:#B2DF94;
	text-decoration:underline;
}

.page-select #SearchSpin {
	position: relative;
	height:32px;
	width:32px;
	left:4px;
	top:-26px;
	background-image: url('/img/loading.gif');
	background-size: 100%;
}

/* ==========================================================================





   The Map Page style





   ========================================================================== */

.page-map #MapContainer {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Sans-serif;
}
.page-map #Map {
    width: 100%;
    height: 100%;
}
.page-map #MapContainer a,#MapContainer a:visited,#MapContainer a:hover{
	color: #333;
	text-decoration:underline;
}

/*

	Describes Button sizes, position, styling

*/
.page-map #ButtonZoomIn{
	font-size:30px;
	height:46px;
	width:50px;
	position:absolute;
	bottom:56px;
	left:10px;
}
.page-map #ButtonZoomOut{
	font-size:30px;
	height:45px;
	width:50px;
	position:absolute;
	bottom:10px;
	left:10px;
}
.page-map #ButtonHelp{
	font-size:25px;
	height:42px;
	width:50px;
	position:absolute;
	bottom:10px;
	right:10px;
}
.page-map #ButtonLocation{
	height:42px;
	width:50px;
	position:absolute;
	bottom:61px;
	right:10px;
}
.page-map #ButtonSelect{
	font-size:14px;
	height:42px;
	width:56%;
	margin-left: -28%;
	position:absolute;
	bottom:10px;
	left:50%;
}
.page-map a, .page-map a:hover, .page-map a:visited{
	color:#D2FFB4;
	text-decoration:none;
}

/*

Describes button text/image positions (using a paragraph block)

*/

.page-map #ButtonZoomIn p {
	position:relative;
	top: 0px;
}
.page-map #ButtonZoomOut p {
	position:relative;
	top: 0px;
}
.page-map #ButtonLocation p {
	position:relative;
	top: 9px;
}
.page-map #ButtonHelp p {
	position:relative;
	top: 4px;
}
.page-map #ButtonSelect p {
	position:relative;
	top: 12px;
}

/* ==========================================================================





   The Info Page style





   ========================================================================== */

.page-info .main {
	position:relative;
	width:320px;
	margin:0 auto;
	font-family: Helvetica, Sans-Serif;
	color:#D2FFB4;
	text-shadow: 0px -1px #000;
	padding-bottom:50px;
}
.page-info .info {
	width:300px;
	font-style:italic;
	margin:10px;
	text-align: center;
}
.page-info .nametitle, .page-info .addresstitle, .page-info .outletypestitle, .page-info .outletypestitle, .page-info .phonetitle, .page-info .openhourstitle {
	font-weight:bold;
	padding-left:10px;
}
.page-info .name, .page-info .phone, .page-info .openhours, .page-info .address {
	padding-left:30px;
}
.page-info .openhours {
	padding-bottom:20px;
}
.page-info .address {
	padding-bottom:20px;
}
.page-info .addresstitle:after {
	text-decoration: none;
	color:#A2CF84;
	content: " (Google Maps) ";
}
.page-info .button p{
	position:relative;
	top:8px;
}
.page-info .address a, .page-info .address a:hover, .page-info .address a:visited{
	color:#D2FFB4;
	text-decoration:underline;
}
.page-info .phone a, .page-info .phone a:hover, .page-info .phone a:visited{
	color:#D2FFB4;
	text-decoration:underline;
}
.page-info .typeInfoText a, .page-info .typeInfoText a:hover, .page-info .typeInfoText a:visited{
	color:#D2FFB4;
	text-decoration:underline;
}
.page-info .categoryName {
	width: 258px;
}
.page-info .type p.typeName {
	float:left;
	height: 22px;
	width: 216px;
	padding-top:10px;
	padding-bottom:10px;
	margin: 0px;
	margin-left: 42px;
}
.page-info p.typeInfoButton {
	float:right;
	padding: 0px;
	width: 42px;
	height: 22px;
	padding-top:10px;
	padding-bottom:10px;
}
.page-info .typeInfoText {
	padding: 10px;
	padding-left: 40px;
	width: 270px;
}
.page-info .button.back {
	margin:10px;
	width:300px;
	height:42px;
	font-size:16px;
	text-decoration: none;
}
.page-info .back p{
	position:relative;
	top:10px;
}

/* ==========================================================================





   The Help Page style





   ========================================================================== */

.page-help .main {
	position:relative;
	color:#D2FFB4;
	width:300px;
	padding:10px;
	margin:0 auto;
	text-align: center;
	text-shadow: 0px -1px #000;
	padding-bottom:50px;
}
.page-help ul,.page-help p {
	text-align:left;
}
.page-help h1 {
	font-size:20px;
	text-align:center;
}
.page-help h2 {
	text-align:left;
	font-weight:bold;
	font-size:18px;
}
.page-help p.description {
	font-size:12px;
	font-style:oblique;
	text-align:center;
	margin-bottom:20px;
}
.page-help a, .page-help a:hover, .page-help a:visited{
	color:#D2FFB4;
	text-decoration:underline;
}
.page-help #ButtonBack {
	position:absolute;
	top:10px;
	left:10px;
	width:20px;
	padding:10px 10px 5px 10px;
	font-size:16px;
	text-decoration: none;
}

/* ==========================================================================





   The Button class





   ========================================================================== */
.button{
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;

	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
	background-color:#2E733A;
	background-image: url("/img/noise.png");
	cursor:pointer;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/*Disable user interaction*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.simplebutton{
	cursor:pointer;
}

/* Button has round top */
.button.roundTop, .simplebutton.roundTop {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/* Button has round bottom */
.button.roundBottom, .simplebutton.roundBottom{
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/* Button has round right side */
.button.roundRight, .simplebutton.roundRight{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;

	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* Button has round left side */
.button.roundLeft, .simplebutton.roundLeft{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* Button has round left side */
.button.roundNone{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.button.active{
	background-color:#28C744;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #C0FF9B;
}
.button.inactive{
	background-color:#2E733A;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
}

/* ==========================================================================





   The Dropdown Category menus and Types





   ========================================================================== */

.page-select .category, .page-info .category {
	float: left;
	width:320px;
	cursor:pointer;
}
.page-select .categoryToggle, .page-info .categoryToggle {
	float: left;
	margin: 9px;
	margin-top: 9px;
	width:24px;
	height:24px;
	background-image: url('/img/closed.png');
	background-size:100%;
}
.page-select .category.open .categoryToggle, .page-info .category.open .categoryToggle{
	background-image: url('/img/open.png');
	background-size:100%;
}
.page-select .categoryName, .page-info .categoryName {
	float: left;
	padding-top: 10px;
	width:236px;
	height:32px;
	font-weight: bold;
}
.page-select .categoryCount {
	float: left;
	display:inline;
	padding-top: 10px;
	width:42px;
	height:32px;
}
.page-select .categoryCount p {
	display:inline;
}
.page-select .types, .page-info .types {
	width:100%;
	display: none;
}
.page-select .type, .page-info .type {
	width:320px;
	padding:0px;
}
.page-select .type { margin:0px;margin-bottom:10px;}
.page-info   .type { margin:0px;}

/*.page-select .typeCheckboxP {
	float: left;
	width:32px;
	height:42px;
	margin-left:10px;
	text-align:center;

	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3), 
		-1px 0px 0px 0px rgba(0,0,0,0.3), 
		inset 0px 1px 0px 0px rgba(149, 227, 118,0.3);
}*/
.page-select .typeCheckboxItem {
	float: left;
	margin-left: 10px;
	width:258px;
	height:42px;
	cursor:pointer;
	text-align:left;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3), 
		-1px 0px 0px 0px rgba(0,0,0,0.3), 
		inset 0px 1px 0px 0px rgba(149, 227, 118,0.3);
}

.page-select input[type=checkbox] {
    display:none;
}
.page-select input[type=checkbox] + label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
	height:22px;
	cursor:pointer;

	background-image: url(/img/checkno.png);
	background-size: 16px 16px;
	background-position: 8px 12px;
	background-repeat: no-repeat;
}
.page-select input[type=checkbox]:checked + label{
	background-image: url(/img/checkyes.png);
}
.page-select .typeName {
	float: left;
	width:258px;
	height:22px;
}
.page-select .typeInfoButton, .page-info .typeInfoButton {
	float: left;
	text-align:center;
	font-family: times;
	font-style: oblique;
	font-weight: bold;
	font-size: 20px;
	padding-top: 10px;
	width:42px;
	height:32px;
	margin-right:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.page-select .typeInfoButton {
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3),
		1px 0px 0px 0px rgba(0,0,0,0.3), 
		-1px 0px 0px 0px rgba(0,0,0,0.3), 
		inset 0px 1px 0px 0px rgba(149, 227, 118,0.3);
}
.page-select .typeInfoButton p {
	position:relative;
	top:-5px;
}
.page-select .typeInfoText, .page-info .typeInfoText {
	display: none;
	float: left;
	font-weight: normal;
	font-size: 14px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 40px;
	width:270px;
	padding-right:10px;
	background:rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(166,256,231,.3);
}

.page-select .typeInfoText {
	margin-top:10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
	Describes the position of elements
*/
.left {float:left;}
.right {float:right;}
.visible {display:block;}
.invisible {display:none;}
.pointer {cursor:pointer;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
