/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #fff;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    line-height: 1.4;
    background-color: #276332;
    background-image: url("/img/noise.png");
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================





   The Home Page style





   ========================================================================== */

.page-home .main {
	width:100%;
	text-align: center;
}
.page-home .flashMessage {
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;
	padding-top:20px;
}

/* ==========================================================================





   The Button class





   ========================================================================== */
.button{
	/* Text details */
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #D2FFB4;
	text-shadow: 0px -1px #000;

	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
	background-color:#2E733A;
	background-image: url("/img/noise.png");
	cursor:pointer;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	/*Disable user interaction*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.simplebutton{
	cursor:pointer;
}

/* Button has round top */
.button.roundTop, .simplebutton.roundTop {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
/* Button has round bottom */
.button.roundBottom, .simplebutton.roundBottom{
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
/* Button has round right side */
.button.roundRight, .simplebutton.roundRight{
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;

	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
/* Button has round left side */
.button.roundLeft, .simplebutton.roundLeft{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* Button has round left side */
.button.roundNone{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.button.active{
	background-color:#28C744;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #C0FF9B;
}
.button.inactive{
	background-color:#2E733A;
	box-shadow: 0px 1px 0px 0px #000, inset 0px 1px 0px 0px #95E376;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
	Describes the position of elements
*/
.left {float:left;}
.right {float:right;}
.visible {display:block;}
.invisible {display:none;}
.pointer {cursor:pointer;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
