RewriteEngine on

# Redirect hwsport to hwsports
RewriteCond %{HTTP_HOST} ^hwsport\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^www\.hwsport\.co\.uk$
RewriteRule ^/?$ "http\:\/\/hwsports\.co\.uk" [R=301,L]

# Rewrite URLs to remove www from domain name
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Codeigniter rule for stripping index.php, with exceptions
RewriteCond $1 !^(index\.php|git.php|mocks|devel|php|favicon.ico|.+html|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
