body {
	font-family: 'Roboto', sans-serif;
	background: #EEE;
	color: #333333;
}

body * {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}

script {
	display: none;
}












/**


		Website Structure CSS


*/

#header {
	width: 100%;
	display: block;
	margin: auto auto;
}
#header-block {
	width: 880px;
	height: 160px;
	margin: auto auto;
}
#middle {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	overflow: hidden;
}
#middle-block {
	overflow: hidden;
	width: 880px;
	margin: auto auto;
}
#menu {
	float: left;
	width: 160px;
	margin-right: 10px;
}
#content {
	margin-left: 10px;
	float: left;
	width: 700px;
}
#footer {
	clear:both;
	margin: auto auto;
	width: 100%;
	display: block;
}
#footer-block {

	clear:both;
	width:880px;
	margin: auto auto;
}


















/**


		Header CSS


*/

#header 			{ background: #0D44A2; }
#header:hover 		{ background: #3F68BB; }
#header 			{ font-weight: 700; text-decoration: none; color: #FFF; }
#header-block 		{ background-image: url('abstract.png'); }
#header-title 		{ position:relative; top:57px; font-size:40px; }
#header-subtitle 	{ position:relative; top:83px; font-size:20px; }
#header {
	transition: background .1s;
	-moz-transition: background .1s; /* Firefox 4 */
	-webkit-transition: background .1s; /* Safari and Chrome */
	-o-transition: background .1s; /* Opera */
}









/**


		Middle CSS


*/

#middle 		{ background: #FFF; }













/**


		Menu CSS


*/

#menu ul {
	margin-bottom:40px;
}
#menu a {
	font-size:20px;
	color: inherit;
	text-decoration:none;
}
#menu li {
	margin-left:30px;
	list-style:none;
	height: 60px;
	position:relative;
	/*top:3px;*/
}
#menu div.icon {
	position:relative;
	/*top:17px;*/
	top:20px;
	left:-30px;
	display: block;
}

#menu a:hover { color: #0D42A8; }
#menu a.selected {
	color: #0D42A8;
	font-weight:700;
}
#menu a.selected:hover {
	color: #0D42A8;
	font-weight:700;
}
#menu a.selected div { background-position: 0px 0px; }
#menu a{
	transition: color .1s;
	-moz-transition: color .1s; /* Firefox 4 */
	-webkit-transition: color .1s; /* Safari and Chrome */
	-o-transition: color .1s; /* Opera */
}

#menu a:hover div {
	background-position: 0px 0px;
}

#menu div.icon.homepage 		{background-position: 0px -80px;}
#menu div.icon.calendar 		{background-position: 0px -100px;}
#menu div.icon.tournaments 		{background-position: 0px -120px;}
#menu div.icon.matches 			{background-position: 0px -140px;}
#menu div.icon.tickets 			{background-position: 0px -160px;}
#menu div.icon.help 			{background-position: 0px -180px;}
#menu div.icon.account 			{background-position: 0px -200px;}
#menu div.icon.signin 			{background-position: 0px -220px;}
#menu div.icon.signout 			{background-position: 0px -240px;}
#menu div.icon.register 		{background-position: 0px -260px;}

#menu a:hover div.icon.homepage 	,#menu a.selected div.icon.homepage 	{background-position: -20px -80px;}
#menu a:hover div.icon.calendar 	,#menu a.selected div.icon.calendar		{background-position: -20px -100px;}
#menu a:hover div.icon.tournaments 	,#menu a.selected div.icon.tournaments	{background-position: -20px -120px;}
#menu a:hover div.icon.matches 		,#menu a.selected div.icon.matches		{background-position: -20px -140px;}
#menu a:hover div.icon.tickets 		,#menu a.selected div.icon.tickets		{background-position: -20px -160px;}
#menu a:hover div.icon.help 		,#menu a.selected div.icon.help			{background-position: -20px -180px;}
#menu a:hover div.icon.account 		,#menu a.selected div.icon.account		{background-position: -20px -200px;}
#menu a:hover div.icon.signin 		,#menu a.selected div.icon.signin		{background-position: -20px -220px;}
#menu a:hover div.icon.signout 		,#menu a.selected div.icon.signout		{background-position: -20px -240px;}
#menu a:hover div.icon.register 	,#menu a.selected div.icon.register		{background-position: -20px -260px;}
















/**


		Content CSS


*/

#content h1 {
	font-size: 30px;
	line-height: 40px;
	position:relative;
	top: 8pt;
	margin-bottom:20px;
}
#content h2 {
	font-size: 20px;
	line-height: 20px;
	position:relative;
	top: 2pt;
	margin-bottom:20px;
}
#content h3 {
	font-size: 18px;
	line-height: 20px;
	position:relative;
	top: 3pt;
	margin-bottom:20px;
}
#content p {
	font-size: 16px;
	line-height: 20px;
	position:relative;
	top: 4pt;
	margin-bottom:20px;
}
#content p a, #content h1 a, #content h2 a, #content h3 a, #content p i, #content p b, #content p em {
	display: inline-block;
}
#content p a, #content h1 a, #content h2 a, #content h3 a {
	color: #0D42A8;
}
#content p a:visited, #content h1 a:visited, #content h2 a:visited, #content h3 a:visited {
	color: #3F68BB;
}
#content p.indent 	{ text-indent:20px; }
#content p.indent a, #content h1.indent a, #content h2.indent a, #content h3.indent a { text-indent: 0px; }
#content p.newline,#content h1.newline,#content h2.newline,#content h3.newline { margin-bottom:40px; }
















/*
	Form Elements
*/
#content input[type='text'] {
	line-height: 40px;
	font-size: 16px;
	font-family: inherit;
	display: inline-block;
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: none;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), inset 0px 1px 2px rgba(0,0,0,0.6);
}
#content label{
	display: block;
}
#content select {
	font-size: 16px;
	font-family: inherit;
	display: inline-block;
}
#content textarea {
	line-height: 20px;
	font-size: 16px;
	font-family: inherit;

	border: none;
	display: inline-block; 
	padding: 10px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), inset 0px 1px 2px rgba(0,0,0,0.6), inset 0px 0px 1px rgba(0,0,0,0.6);
	min-height: 80px;
}
#content textarea.h200 { height: 200px; }
#content textarea.h300 { height: 300px; }
#content textarea.h400 { height: 400px; }
#content textarea.h500 { height: 500px; }







/*
	Jquery Action headings and crap
*/
#content .ui-widget{
	font-size: inherit;
	font-family: inherit;
}
#content .ui-widget-content {
	padding: 20px;
	background: #EEE;
}
#content .ui-corner-all, #content .ui-corner-top, #content .ui-corner-right, #content .ui-corner-tr{
	border-radius: 0px;
}
#content .ui-state-active, #content .ui-widget-content .ui-state-active, #content .ui-widget-header .ui-state-active{
	border: none;
}
#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default{
	border: none;	
}
#content h3.sectionHeading{
	padding: 40px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 0px;
	color: #EEE;
	line-height: 20px;
	background: #333333;
}










/**
	FULL CALENDAR
**/

#content .fc-header {
	margin-top:20px;
}
#content .fc .fc-border-separate{
	border-collapse: collapse;
}

#content .fc div.fc-view-month th.fc-widget-header {
	padding: 10px;
}
#content .fc table.fc-agenda-days th.fc-widget-header{
	padding: 5px;
}

#content .fc div.fc-view-agendaDays th.fc-agenda-axis {
	padding-right: 20px;
}
#content .fc div.fc-view-agendaWeek th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	/*line-height:40px;*/
}
#content .fc div.fc-view-agendaDay th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	/*line-height:40px;*/
}

#content .fc td, #content .fc th {
	padding: inherit;
	position: inherit;
}

#content .fc table {
	background: none;
	padding: inherit;
}
.fc .fc-event-skin {
	background: #333;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
}
.fc .fc-grid .fc-event-time{
	
}
.fc .fc-event-content, .fc .fc-event-title {
	word-wrap:break-word;
	overflow: hidden;
}
.fc .fc-event-skin .fc-event-skin {
	padding: 4px;
	background: none;
}










/*
	Tables
*/
#content table 				{ display: table;}
#content tbody 				{ display: table-row-group; }
#content thead 				{ display: table-header-group; }
#content tr 				{ display: table-row; }
#content td, #content th 	{ display: table-cell; }
#content th {
	text-align: left;
}
#content table {
	background: #EEEEEE;
}

#content td, #content th {
	font-size: 16px;
	position: relative;
	top: 4pt;
	line-height: 40px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content table.full 		{ width: 700px; }
#content table.threefourth 	{ width: 520px; }
#content table.half 		{ width: 340px; }
#content table.fourth 		{ width: 160px; }









/*
	Leif's Custom widget div, which is a simple information box that can
	be used for news, tournament, match items on the pages.
*/
#content div.widget {
	background: #EEEEEE;
	display:inline-block;
	margin-bottom: 20px;
}
#content div.widget.full {
	display:block;
	width: 700px;
}
#content div.widget.threefourth, #content div.widget.half, #content div.widget.fourth {
	margin-right:-4px;
	display: inline-block;
	vertical-align: top;
}
#content div.widget.threefourth { width: 520px; }
#content div.widget.half { width: 340px; }
#content div.widget.fourth { width: 160px; }
#content div.half:nth-of-type(even) {
	margin-left: 20px;
}

#content div.widget-title {
	width: 100%;
	word-wrap:break-word;
	padding:10px;
	padding-left:0px;
	padding-right:0px;
	font-size: 20px;
	line-height: 40px;
	background: #333333;
	color: #EEEEEE;
	letter-spacing:-4px;
	transition: opacity .1s;
	-moz-transition: opacity .1s;
	-webkit-transition: opacity .1s;
	-o-transition: opacity .1s;
}
#content div.widget-title div {
	/*font-size:20px;*/
	/*float: left;*/
	/*overflow: hidden;*/
	letter-spacing: 0px;
	display: inline-block;
	margin-right:-4px;
}
#content div.widget-title:hover {
	opacity:0.9;
}
#content div.widget-title-left { width:20px; display: inline-block; vertical-align:middle; }
#content div.half div.widget-title-centre { width:220px; display: inline-block; vertical-align:middle; margin-right:-4px;}
#content div.full div.widget-title-centre { width:580px; display: inline-block; vertical-align:middle; margin-right:-4px;}
#content div.threefourth div.widget-title-centre { width:400px; display: inline-block; vertical-align:middle; margin-right:-0px;}
#content div.fourth div.widget-title-centre { width:40px; display: inline-block; vertical-align:middle; margin-right:-0px;}
#content div.widget-title-right { width:20px; overflow: hidden; display: inline-block; vertical-align:middle; margin-right:-0px; }
#content div.widget-title-right.icon { margin-left: 20px; margin-right: 20px; position:relative; top:-2px; }
#content div.widget-title-left.icon { margin-left: 20px; margin-right: 20px; position:relative; top:-2px;}
#content div.widget-body {
	padding:20px;
	background: #EEEEEE;
	overflow: hidden;
}


/*
	Leif's custom messaging system
*/
#content .message{
	padding: 20px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-bottom: 20px;
}
#content .message.message-information { background: #D0DAEE; color: #0D42A8; box-shadow: inset 0px 0px 1px #0D42A8; }
#content .message.message-success { background: #E4EDCD; color: #7BA800; box-shadow: inset 0px 0px 1px #7BA800; }
#content .message.message-error { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }
#content .message.message-warning { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }

/*
	Leif's Custom button inline block, which can have nice icons inside
*/
#content .button {
	background:#EEE;
	text-decoration: none;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	display:inline-block;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4), inset 0px 0px 1px rgba(0,0,0,1);
	transition: background .1s, box-shadow .1s;
	-moz-transition: background .1s;
	-webkit-transition: background .1s, box-shadow .1s;
	-o-transition: background .1s;
}
#content .button:hover {
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4), inset 0px 0px 1px rgba(0,0,0,1);
}
#content .button .icon {
	position: relative;
	top:5px;
}

#content .button:hover 			{ color: inherit; background:#FFFFFF; box-shadow: 0px 0px 1px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.4); }
#content .button.normal 		{ color: inherit; background:#EEEEEE; box-shadow: 0px 0px 0px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,1); }
#content .button.normal:hover 	{ color: inherit; background:#FFFFFF; box-shadow: 0px 0px 1px rgba(0,0,0,1), inset 0px 0px 1px rgba(0,0,0,0.4); }
#content .button.blue 			{ color: #FFFFFF; background:#0D42A8; }
#content .button.blue:hover 	{ color: #FFFFFF; background:#3F68BB; }
#content .button.green 			{ color: #FFFFFF; background:#81A800; }
#content .button.green:hover 	{ color: #FFFFFF; background:#9ABB00; }
#content .button.red 			{ color: #FFFFFF; background:#D13B00; }
#content .button.red:hover		{ color: #FFFFFF; background:#F64600; }

#content .right .button { margin-left: 20px; }
#content .left .button { margin-right: 20px; }


/**


		Footer CSS


*/

#footer {
	padding-top:40px;
	padding-bottom:40px;
	background: #EEE;
}
#footer-block {
	letter-spacing:-4px;
	vertical-align: top;
}
#footer-legal {
	letter-spacing: 0px;
	width:340px;
	display: inline-block;
	position: relative;
	top:5px;
	vertical-align: top;
}
#footer-links {
	letter-spacing: 0px;
	vertical-align: middle;
	width:340px;
	display: inline-block;
	margin-left: 20px;
	position: relative;
	top:5px;
}
#footer-powered {
	vertical-align: middle;
	margin-left: 20px;
	display: inline-block;
	width:160px;
}
#footer-powered .company-logo{
	margin: auto auto;
	vertical-align: middle;
	width:99px;
	height:33px;
	background-image:url('http://infusionsports.co.uk/img/logo/is.medium.png');
	opacity: 0.8;
}



/*

	Icon parameters
*/
div.icon {
	width: 20px;
	height: 20px;
	background-image: url('icons.png');
	display: inline-block;
}

div.icon.block-black-light 		{background-position: -40px -20px;}
div.icon.block-black-medium 	{background-position: -20px -20px;}
div.icon.block-black-dark 		{background-position: 0px -20px;}

div.icon.block-blue-light 		{background-position: -40px 0px;}
div.icon.block-blue-medium 		{background-position: -20px 0px;}
div.icon.block-blue-dark 		{background-position: 0px 0px;}

div.icon.block-white		 	{background-position: -60px -20px;}
div.icon.arrow-right-white			{background-position: -140px -20px;}

div.icon.arrow-right-black-light 	{background-position: -120px -20px;}
div.icon.arrow-right-black-gray 	{background-position: -100px -20px;}
div.icon.arrow-right-black-dark 	{background-position: -80px -20px;}

div.icon.arrow-right-blue-light 	{background-position: -120px 0px;}
div.icon.arrow-right-blue-medium 	{background-position: -100px 0px;}
div.icon.arrow-right-blue-dark 		{background-position:  -80px 0px;}

div.icon.dalek-black 		{background-position:  -280px 0px;}
div.icon.dalek-white 		{background-position:  -280px -20px;}

div.icon.margin-left { margin-left: 20px; }
div.icon.margin-right { margin-right: 20px; }

.text-align-left {text-align:left;}
.text-align-right {text-align:right;}
.right {float: right;}
.left {float: left;}
.margin-left { margin-left: 20px; }
.margin-right { margin-right: 20px; }







