/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






















/***************************************\

            Page Wide Styling
                
\***************************************/

body {
    font-family: 'Roboto', sans-serif;
    background: #EEE;
    color: #333333;
}

body * {
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}

/***************************************\

            General Typography
                
\***************************************/

h1, h2, h3, p {
    position:relative;
    margin-bottom:20px;
}
h1          { line-height: 40px; }
h2, h3, p   { line-height: 20px; }
h1 { font-size: 30px; top: 10px; }
h2 { font-size: 20px; top: 3px; }
h3 { font-size: 18px; top: 4px; }
p  { font-size: 16px; top: 5px; }
p.indent    { text-indent:20px; }

a, h1 a, h2 a, h3 a, p a { color: #0D42A8; }
a:hover p a:hover, h1 a:hover, h2 a:hover, h3 a:hover { color: #4165C8; }

/* Lists, dictionaries */
ul, dl, ol {
    position: relative;
    top: 5px;
    margin-left:40px;
    margin-bottom:20px;
}
dt { font-weight: bold; }

/* inline quotes, blocks, figures, addresses */
q:before    { content: '"'; }
q:after     { content: '"'; }

figure, blockquote {
    margin-bottom:20px;
}

address, blockquote, pre {
    position: relative;
    top: 4px;
}
figcaption {
    position: relative;
    top: 5px;
}

/***************************************\

            Table Styling
                
\***************************************/
table {
    background: #EEEEEE;
    margin-bottom: 20px;
}
td, th {
    font-size: 16px;
    position: relative;
    top: 4pt;
    line-height: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
th { text-align: left; }
table.full          { width: 700px; }
table.threefourth   { width: 520px; }
table.half          { width: 340px; }
table.fourth        { width: 160px; }

/***************************************\

            Form Styling
                
\***************************************/

form table { border-bottom: solid 20px #EEE; }

input, select, textarea {
    font-family: inherit;
    display: inline-block; *display: inline; zoom: 1;
    font-size: 16px;
}
input, textarea {
    background: #FFFFFF;
    padding: 10px;
    border: none;
}
textarea {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* All single line text inputs */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input:not([type]) {
    line-height: 40px;
    height: 20px;
    margin: 0px;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
                inset 0px 1px 2px rgba(0,0,0,0.6);
}
label {
    display: block;
}
textarea {
    line-height: 20px;
    min-height: 80px;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
                inset 0px 1px 2px rgba(0,0,0,0.6), 
                inset 0px 0px 1px rgba(0,0,0,0.6);
}
input.time, input.color {
    width: 100px;
}
input.color {
    width: 100px;
    color: #FFF;
    text-shadow: 
         1px  1px 1px #333, 
        -1px -1px 1px #333, 
         1px -1px 1px #333, 
        -1px 1px  1px #333;
}
.colorpicker input {
    line-height: normal;
    height: 11px;
}
.chzn-container * {
    line-height: normal;
}
.chzn-container input[type='text'] {
    line-height: normal;
}

/***************************************\

            Content Styling
    
    Most of it is already covered above
    in General Typography.
                
\***************************************/

#content > p,
#content > h1, #content > h2, #content > h3, #content > h4, #content > h4,
#content > ul, #content > dl, #content > ol,
#content > figure, #content > blockquote,
#content > address, #content > blockquote, #content > pre {clear:both;}

#content h1 { color: #0D44A2; }
#content h1 div.icon.subsection {
    margin-left: 20px;
    margin-right: 20px;
}
#content h3 div.icon, #content h2 div.icon {
    position: relative;
    top:-4px;
    margin-bottom:-4px;
}
#content blockquote {
    margin-left: 20px;
    padding-left: 20px;
    border-left: solid 20px #EEE;
    padding-bottom: 20px;
    padding-top: 20px;
}









































/***************************************\

            Messaging system

    These are the divs that appear
    at the top of the page if something
    important happens.
                
\***************************************/

.message{
    overflow:hidden;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
    border-radius:          4px;
    -webkit-border-radius:  4px;
    -moz-border-radius:     4px;
}
.message.message-information    { background: #D0DAEE; color: #0D42A8; box-shadow: inset 0px 0px 1px #0D42A8; }
.message.message-success        { background: #E4EDCD; color: #7BA800; box-shadow: inset 0px 0px 1px #7BA800; }
.message.message-error          { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }
.message.message-warning        { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }

/* The icons that appear within the message */
.message                div.icon    { float: left; }





























/***************************************\

            Large Buttons
                
\***************************************/
a.button, input[type='submit'] {
    font-family: 'Roboto', sans-serif;
    border: none;
    background:#EEE;
    text-decoration: none;
    line-height: 20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    display:inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
}
a.button                , input[type='submit']              { color: #333333; background:#FFFFFF; box-shadow: 0px 1px 2px rgba(0,0,0,1.0), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:hover          , input[type='submit']:hover        { color: #333333; background:#FFFFFF; box-shadow: 0px 1px 2px rgba(0,0,0,1.0), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:active         , input[type='submit']:active       { color: #333333; background:#EEEEEE; box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0px 1px 4px rgba(0,0,0,1); }
a.button:active *       , input[type='submit']:active *     { color: #333333; opacity: 0.5; }

a.button.normal         , input[type='submit'].normal       { color: #333333; background:#EEEEEE; }
a.button.normal:hover   , input[type='submit'].normal:hover { color: #333333; background:#FFFFFF; }
a.button.normal:active  , input[type='submit'].normal:active{ color: #333333; background:#EEEEEE; }

a.button.blue           , input[type='submit'].blue         { color: #FFFFFF; background:#0D42A8; }
a.button.blue:hover     , input[type='submit'].blue:hover   { color: #FFFFFF; background:#3F68BB; }
a.button.blue:active    , input[type='submit'].blue:active  { color: #D1DAF2; background:#0D42A8; }

a.button.green          , input[type='submit'].green        { color: #FFFFFF; background:#81A800; }
a.button.green:hover    , input[type='submit'].green:hover  { color: #FFFFFF; background:#9ABB00; }
a.button.green:active   , input[type='submit'].green:active { color: #E6EDC5; background:#81A800; }

a.button.red            , input[type='submit'].red          { color: #FFFFFF; background:#D13B00; }
a.button.red:hover      , input[type='submit'].red:hover    { color: #FFFFFF; background:#F64600; }
a.button.red:active     , input[type='submit'].red:active   { color: #FBE1B6; background:#D13B00; }

p a.button, p input[type='submit'] {
    position: relative;
    top:-5px;
}

a.button .icon { margin-bottom: -5px; }

.right .button { margin-left: 20px; }
.left .button { margin-right: 20px; }



























/***************************************\

                Icons
                
\***************************************/
div.icon {
    width: 20px;
    height: 20px;
    background-image: url('/img/icons/icons.png');
    background-position: -20px -20px;
    background-repeat: no-repeat;
    display: inline-block; *display: inline; zoom: 1;
}

div.icon.margin-left { margin-left: 20px; }
div.icon.margin-right { margin-right: 20px; }

div.icon.load {
    -webkit-animation: play-black .8s steps(8) infinite;
       -moz-animation: play-black .8s steps(8) infinite;
        -ms-animation: play-black .8s steps(8) infinite;
         -o-animation: play-black .8s steps(8) infinite;
            animation: play-black .8s steps(8) infinite;
}
.button div.icon.load {
	-webkit-animation: play-black .8s steps(8) infinite;
       -moz-animation: play-black .8s steps(8) infinite;
        -ms-animation: play-black .8s steps(8) infinite;
         -o-animation: play-black .8s steps(8) infinite;
            animation: play-black .8s steps(8) infinite;
}
div.widget-title div.icon.load {
    -webkit-animation: play-white .8s steps(8) infinite;
       -moz-animation: play-white .8s steps(8) infinite;
        -ms-animation: play-white .8s steps(8) infinite;
         -o-animation: play-white .8s steps(8) infinite;
            animation: play-white .8s steps(8) infinite;
}
@-webkit-keyframes  play-black  { from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-moz-keyframes     play-black  { from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-ms-keyframes      play-black  { from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-o-keyframes       play-black  { from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@keyframes          play-black  { from { background-position: -400px -20px; } to { background-position: -400px -180px; } }

@-webkit-keyframes  play-white  { from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-moz-keyframes     play-white  { from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-ms-keyframes      play-white  { from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-o-keyframes       play-white  { from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@keyframes          play-white  { from { background-position: -420px -20px; } to { background-position: -420px -180px; } }


/* Many of these icons below are not going to be used */
div.icon.subscribe 										{ background-position:  -20px -460px; }
div.icon.announcement 									{ background-position:  -20px -600px; }

div.icon.block-black-light 								{ background-position:  -40px  -20px; }
div.icon.block-black-medium 							{ background-position:  -20px  -20px; }
div.icon.block-black-dark      							{ background-position:    0px  -20px; }

div.icon.block-blue-light       						{ background-position:  -40px    0px; }
div.icon.block-blue-medium      						{ background-position:  -20px    0px; }
div.icon.block-blue-dark        						{ background-position:    0px    0px; }

div.icon.block-white									{ background-position:  -60px  -20px; }
div.icon.arrow-right-white								{ background-position: -140px  -20px; }

div.icon.arrow-right-black-light						{ background-position: -120px  -20px; }
div.icon.arrow-right-black-gray							{ background-position: -100px  -20px; }
div.icon.arrow-right-black-dark							{ background-position:  -80px  -20px; }

div.icon.arrow-right-blue-light							{ background-position: -120px    0px; }
div.icon.arrow-right-blue-medium						{ background-position: -100px    0px; }
div.icon.arrow-right-blue-dark							{ background-position:  -80px    0px; }

div.icon.dalek-black									{ background-position: -560px -540px; }
div.icon.dalek-white									{ background-position: -580px -540px; }

/* For messages */
.message                div.icon 						{ background-position: -340px -200px; }
.message-information	div.icon 						{ background-position: -340px -200px; }
.message-success 		div.icon 						{ background-position: -340px -220px; }
.message-error 			div.icon 						{ background-position: -360px -200px; }
.message-warning 		div.icon 						{ background-position: -360px -220px; }

/* For sport icons */
.sportCategoryID-1 div.icon	{ background-position: -560px -260px; } /* Airsports */
.sportCategoryID-2 div.icon { background-position: -420px -340px; } /* Archery variants */
.sportCategoryID-3 div.icon { background-position: -560px -340px; } /* Ball-over-net games */
.sportCategoryID-4 div.icon { background-position: -360px -260px; } /* basketball family */
.sportCategoryID-5 div.icon { background-position: -440px -340px; } /* bat and ball */
.sportCategoryID-6 div.icon	{ background-position: -560px -300px; } /* boarding */
.sportCategoryID-7 div.icon	{ background-position: -360px -340px; } /* bowls */
.sportCategoryID-8 div.icon { background-position: -360px -340px; } /* bowling */
.sportCategoryID-9 div.icon { background-position: -480px -340px; } /* Catch */
.sportCategoryID-10 div.icon { background-position: -400px -300px; } /* Climbing */
.sportCategoryID-11 div.icon { background-position: -320px -340px; } /* Cycling */
.sportCategoryID-12 div.icon { background-position: -420px -300px; } /* Combat */
.sportCategoryID-13 div.icon { background-position: -600px -300px; } /* Cue */
.sportCategoryID-14 div.icon { background-position: -440px -300px; } /* Dance */
.sportCategoryID-15 div.icon { background-position: -360px -300px; } /* Equine */
.sportCategoryID-16 div.icon { background-position: -380px -300px; } /* Fishing */
.sportCategoryID-17 div.icon { background-position: -520px -300px; } /* Flying Disk */
.sportCategoryID-18 div.icon { background-position: -320px -260px; } /* Football Family */
.sportCategoryID-19 div.icon { background-position: -340px -340px; } /* Golf */
.sportCategoryID-20 div.icon { background-position: -580px -300px; } /* Gymnastics */
.sportCategoryID-21 div.icon { background-position: -340px -260px; } /* Handball */
.sportCategoryID-22 div.icon { background-position: -500px -300px; } /* Hunting */
.sportCategoryID-23 div.icon { background-position: -340px -300px; } /* Kite */
.sportCategoryID-24 div.icon { background-position: -560px -420px; } /* Mixed */
.sportCategoryID-25 div.icon { background-position: -440px -260px; } /* Swimming */
.sportCategoryID-26 div.icon { background-position: -580px -420px; } /* Orienterring Family */
.sportCategoryID-27 div.icon { background-position: -500px -260px; } /* Paddle */
.sportCategoryID-28 div.icon { background-position: -560px -340px; } /* Racket */
.sportCategoryID-29 div.icon { background-position: -460px -300px; } /* Remote Control */
.sportCategoryID-30 div.icon { background-position: -520px -260px; } /* Sailing */
.sportCategoryID-31 div.icon { background-position: -480px -300px; } /* Skiing */
.sportCategoryID-32 div.icon { background-position: -500px -340px; } /* Sledding */
.sportCategoryID-33 div.icon { background-position: -500px -300px; } /* Shooting */
.sportCategoryID-34 div.icon { background-position: -460px -340px; } /* Stick and Ball */
.sportCategoryID-35 div.icon { background-position: -400px -260px; } /* Street Sunts */
.sportCategoryID-36 div.icon { background-position: -540px -340px; } /* Tag */
.sportCategoryID-37 div.icon { background-position: -380px -340px; } /* walking */
.sportCategoryID-38 div.icon { background-position: -560px -340px; } /* Wall and Ball */
.sportCategoryID-39 div.icon { background-position: -420px -260px; } /* Water Ball */
.sportCategoryID-40 div.icon { background-position: -600px -260px; } /* Diving */
.sportCategoryID-41 div.icon { background-position: -400px -340px; } /* Weightlifting */
.sportCategoryID-42 div.icon { background-position: -580px -260px; } /* Land Motorsports */
.sportCategoryID-43 div.icon { background-position: -540px -260px; } /* Water Motorsports */
.sportCategoryID-44 div.icon { background-position: -600px -420px; } /* Mind Sports */
.sportCategoryID-45 div.icon { background-position: -560px -420px; } /* Miscellaneous */
.sportCategoryID-46 div.icon { background-position: -400px -260px; } /* Running */

.sportID-9	div.icon					{ background-position: -380px -260px; } /* Hurdling */

/* For titles*/
#content h1 div.icon.subsection 						{ background-position:  -20px  -80px; }

/* For widgets */
div.widget-title div.icon                               { background-position:   20px   20px; }
div.widget-title div.icon.chevron                       { background-position: -120px  -60px; }
div.widget-title div.icon.announcement                  { background-position: -160px -280px; }
a div.widget-title-right.icon 							{ background-position: -120px  -60px; }
div.widget.scheduling       div.widget-title-left.icon  { background-position: -40px  -280px; }
div.widget.announcement     div.widget-title-left.icon  { background-position: -40px  -600px; }
div.widget.tournaments      div.widget-title-left.icon  { background-position: -40px  -300px; }
div.widget.tournament       div.widget-title-left.icon 	{ background-position: -40px  -300px; }
div.widget.matches          div.widget-title-left.icon  { background-position: -40px  -320px; }
div.widget.match            div.widget-title-left.icon 	{ background-position: -40px  -320px; }
div.widget.welcome-message  div.widget-title-left.icon 	{ background-position: -40px  -260px; }
div.widget.subscribe        div.widget-title-left.icon 	{ background-position: -40px  -460px; }
div.widget.profile          div.widget-title-left.icon 	{ background-position: -40px  -380px; }
div.widget.signup           div.widget-title-left.icon 	{ background-position: -40px  -460px; }
div.widget.tickets          div.widget-title-left.icon 	{ background-position: -40px  -340px; }
div.widget.participation    div.widget-title-left.icon 	{ background-position: -40px  -460px; }
div.widget.tms              div.widget-title-left.icon 	{ background-position: -40px  -480px; }

/* Used to overide generic icons, for example show football instead of just tournament cup */
div.widget-title div.icon.sport-wattball 				{ background-position: -320px -220px; }
div.widget-title div.icon.sport-hurdling 				{ background-position: -380px -220px; }
div.widget-title div.icon.chevron 		 				{ background-position: -120px  -60px; }
div.widget-title div.icon.news			 				{ background-position: -160px -280px; }

/* For sport icons */
div.widget.sportCategoryID-1 div.widget-title-left.icon	{ background-position: -560px -280px; } /* Airsports */
div.widget.sportCategoryID-2 div.widget-title-left.icon	{ background-position: -420px -360px; } /* Archery variants */
div.widget.sportCategoryID-3 div.widget-title-left.icon	{ background-position: -560px -360px; } /* Ball-over-net games */
div.widget.sportCategoryID-4 div.widget-title-left.icon	{ background-position: -360px -280px; } /* basketball family */
div.widget.sportCategoryID-5 div.widget-title-left.icon	{ background-position: -440px -360px; } /* bat and ball */
div.widget.sportCategoryID-6 div.widget-title-left.icon	{ background-position: -560px -320px; } /* boarding */
div.widget.sportCategoryID-7 div.widget-title-left.icon	{ background-position: -360px -360px; } /* bowls */
div.widget.sportCategoryID-8 div.widget-title-left.icon	{ background-position: -360px -360px; } /* bowling */
div.widget.sportCategoryID-9 div.widget-title-left.icon	{ background-position: -480px -360px; } /* Catch */
div.widget.sportCategoryID-10 div.widget-title-left.icon	{ background-position: -400px -320px; } /* Climbing */
div.widget.sportCategoryID-11 div.widget-title-left.icon	{ background-position: -320px -360px; } /* Cycling */
div.widget.sportCategoryID-12 div.widget-title-left.icon	{ background-position: -420px -320px; } /* Combat */
div.widget.sportCategoryID-13 div.widget-title-left.icon	{ background-position: -600px -320px; } /* Cue */
div.widget.sportCategoryID-14 div.widget-title-left.icon	{ background-position: -440px -320px; } /* Dance */
div.widget.sportCategoryID-15 div.widget-title-left.icon	{ background-position: -360px -320px; } /* Equine */
div.widget.sportCategoryID-16 div.widget-title-left.icon	{ background-position: -380px -320px; } /* Fishing */
div.widget.sportCategoryID-17 div.widget-title-left.icon	{ background-position: -520px -320px; } /* Flying Disk */
div.widget.sportCategoryID-18 div.widget-title-left.icon	{ background-position: -320px -280px; } /* Football Family */
div.widget.sportCategoryID-19 div.widget-title-left.icon	{ background-position: -340px -360px; } /* Golf */
div.widget.sportCategoryID-20 div.widget-title-left.icon	{ background-position: -580px -320px; } /* Gymnastics */
div.widget.sportCategoryID-21 div.widget-title-left.icon	{ background-position: -340px -280px; } /* Handball */
div.widget.sportCategoryID-22 div.widget-title-left.icon	{ background-position: -500px -320px; } /* Hunting */
div.widget.sportCategoryID-23 div.widget-title-left.icon	{ background-position: -340px -320px; } /* Kite */
div.widget.sportCategoryID-24 div.widget-title-left.icon	{ background-position: -560px -440px; } /* Mixed */
div.widget.sportCategoryID-25 div.widget-title-left.icon	{ background-position: -440px -280px; } /* Swimming */
div.widget.sportCategoryID-26 div.widget-title-left.icon	{ background-position: -580px -440px; } /* Orienterring Family */
div.widget.sportCategoryID-27 div.widget-title-left.icon	{ background-position: -500px -280px; } /* Paddle */
div.widget.sportCategoryID-28 div.widget-title-left.icon	{ background-position: -560px -360px; } /* Racket */
div.widget.sportCategoryID-29 div.widget-title-left.icon	{ background-position: -460px -320px; } /* Remote Control */
div.widget.sportCategoryID-30 div.widget-title-left.icon	{ background-position: -520px -280px; } /* Sailing */
div.widget.sportCategoryID-31 div.widget-title-left.icon	{ background-position: -480px -320px; } /* Skiing */
div.widget.sportCategoryID-32 div.widget-title-left.icon	{ background-position: -500px -360px; } /* Sledding */
div.widget.sportCategoryID-33 div.widget-title-left.icon	{ background-position: -500px -320px; } /* Shooting */
div.widget.sportCategoryID-34 div.widget-title-left.icon	{ background-position: -460px -360px; } /* Stick and Ball */
div.widget.sportCategoryID-35 div.widget-title-left.icon	{ background-position: -400px -280px; } /* Street Sunts */
div.widget.sportCategoryID-36 div.widget-title-left.icon	{ background-position: -540px -360px; } /* Tag */
div.widget.sportCategoryID-37 div.widget-title-left.icon	{ background-position: -380px -360px; } /* walking */
div.widget.sportCategoryID-38 div.widget-title-left.icon	{ background-position: -560px -360px; } /* Wall and Ball */
div.widget.sportCategoryID-39 div.widget-title-left.icon	{ background-position: -420px -280px; } /* Water Ball */
div.widget.sportCategoryID-40 div.widget-title-left.icon	{ background-position: -600px -280px; } /* Diving */
div.widget.sportCategoryID-41 div.widget-title-left.icon	{ background-position: -400px -360px; } /* Weightlifting */
div.widget.sportCategoryID-42 div.widget-title-left.icon	{ background-position: -580px -280px; } /* Land Motorsports */
div.widget.sportCategoryID-43 div.widget-title-left.icon	{ background-position: -540px -280px; } /* Water Motorsports */
div.widget.sportCategoryID-44 div.widget-title-left.icon	{ background-position: -600px -440px; } /* Mind Sports */
div.widget.sportCategoryID-45 div.widget-title-left.icon	{ background-position: -560px -440px; } /* Miscellaneous */
div.widget.sportCategoryID-46 div.widget-title-left.icon	{ background-position: -400px -280px; } /* Running */

div.widget.sportID-9 	div.widget-title-left.icon	{ background-position: -380px -280px; } /* Hurdling */

/* For fullcalendar */
.fc .tournament div.fc-event-inner::before 				{ background-position: -40px  -300px; }
.fc .sportCategoryID-1 div.fc-event-inner::before 		{ background-position: -560px -280px; } /* Airsports */
.fc .sportCategoryID-2 div.fc-event-inner::before 		{ background-position: -420px -360px; } /* Archery variants */
.fc .sportCategoryID-3 div.fc-event-inner::before 		{ background-position: -560px -360px; } /* Ball-over-net games */
.fc .sportCategoryID-4 div.fc-event-inner::before 		{ background-position: -360px -280px; } /* basketball family */
.fc .sportCategoryID-5 div.fc-event-inner::before 		{ background-position: -440px -360px; } /* bat and ball */
.fc .sportCategoryID-6 div.fc-event-inner::before 		{ background-position: -560px -320px; } /* boarding */
.fc .sportCategoryID-7 div.fc-event-inner::before 		{ background-position: -360px -360px; } /* bowls */
.fc .sportCategoryID-8 div.fc-event-inner::before 		{ background-position: -360px -360px; } /* bowling */
.fc .sportCategoryID-9 div.fc-event-inner::before 		{ background-position: -480px -360px; } /* Catch */
.fc .sportCategoryID-10 div.fc-event-inner::before 		{ background-position: -400px -320px; } /* Climbing */
.fc .sportCategoryID-11 div.fc-event-inner::before 		{ background-position: -320px -360px; } /* Cycling */
.fc .sportCategoryID-12 div.fc-event-inner::before 		{ background-position: -420px -320px; } /* Combat */
.fc .sportCategoryID-13 div.fc-event-inner::before 		{ background-position: -600px -320px; } /* Cue */
.fc .sportCategoryID-14 div.fc-event-inner::before 		{ background-position: -440px -320px; } /* Dance */
.fc .sportCategoryID-15 div.fc-event-inner::before 		{ background-position: -360px -320px; } /* Equine */
.fc .sportCategoryID-16 div.fc-event-inner::before 		{ background-position: -380px -320px; } /* Fishing */
.fc .sportCategoryID-17 div.fc-event-inner::before 		{ background-position: -520px -320px; } /* Flying Disk */
.fc .sportCategoryID-18 div.fc-event-inner::before 		{ background-position: -320px -280px; } /* Football Family */
.fc .sportCategoryID-19 div.fc-event-inner::before 		{ background-position: -340px -360px; } /* Golf */
.fc .sportCategoryID-20 div.fc-event-inner::before 		{ background-position: -580px -300px; } /* Gymnastics */
.fc .sportCategoryID-21 div.fc-event-inner::before 		{ background-position: -340px -280px; } /* Handball */
.fc .sportCategoryID-22 div.fc-event-inner::before 		{ background-position: -500px -320px; } /* Hunting */
.fc .sportCategoryID-23 div.fc-event-inner::before 		{ background-position: -340px -320px; } /* Kite */
.fc .sportCategoryID-24 div.fc-event-inner::before 		{ background-position: -560px -440px; } /* Mixed */
.fc .sportCategoryID-25 div.fc-event-inner::before 		{ background-position: -440px -280px; } /* Swimming */
.fc .sportCategoryID-26 div.fc-event-inner::before 		{ background-position: -580px -440px; } /* Orienterring Family */
.fc .sportCategoryID-27 div.fc-event-inner::before 		{ background-position: -500px -280px; } /* Paddle */
.fc .sportCategoryID-28 div.fc-event-inner::before 		{ background-position: -560px -360px; } /* Racket */
.fc .sportCategoryID-29 div.fc-event-inner::before 		{ background-position: -460px -320px; } /* Remote Control */
.fc .sportCategoryID-30 div.fc-event-inner::before 		{ background-position: -520px -280px; } /* Sailing */
.fc .sportCategoryID-31 div.fc-event-inner::before 		{ background-position: -480px -340px; } /* Skiing */
.fc .sportCategoryID-32 div.fc-event-inner::before 		{ background-position: -500px -360px; } /* Sledding */
.fc .sportCategoryID-33 div.fc-event-inner::before 		{ background-position: -500px -320px; } /* Shooting */
.fc .sportCategoryID-34 div.fc-event-inner::before 		{ background-position: -460px -360px; } /* Stick and Ball */
.fc .sportCategoryID-35 div.fc-event-inner::before 		{ background-position: -400px -280px; } /* Street Sunts */
.fc .sportCategoryID-36 div.fc-event-inner::before 		{ background-position: -540px -360px; } /* Tag */
.fc .sportCategoryID-37 div.fc-event-inner::before 		{ background-position: -380px -360px; } /* walking */
.fc .sportCategoryID-38 div.fc-event-inner::before 		{ background-position: -560px -360px; } /* Wall and Ball */
.fc .sportCategoryID-39 div.fc-event-inner::before 		{ background-position: -420px -280px; } /* Water Ball */
.fc .sportCategoryID-40 div.fc-event-inner::before 		{ background-position: -600px -280px; } /* Diving */
.fc .sportCategoryID-41 div.fc-event-inner::before 		{ background-position: -400px -360px; } /* Weightlifting */
.fc .sportCategoryID-42 div.fc-event-inner::before 		{ background-position: -580px -280px; } /* Land Motorsports */
.fc .sportCategoryID-43 div.fc-event-inner::before 		{ background-position: -540px -280px; } /* Water Motorsports */
.fc .sportCategoryID-44 div.fc-event-inner::before 		{ background-position: -600px -440px; } /* Mind Sports */
.fc .sportCategoryID-45 div.fc-event-inner::before 		{ background-position: -560px -440px; } /* Miscellaneous */
.fc .sportCategoryID-46 div.fc-event-inner::before 		{ background-position: -400px -280px; } /* Running */

.fc .sportID-9    div.fc-event-inner::before			{ background-position: -380px -280px; } /* Men's Hurdling */
.fc .sportID-10   div.fc-event-inner::before    		{ background-position: -380px -280px; } /* Women's Hurdling */
















/***************************************\

            Widget Div

    Leif's Custom widget div, which
    is a simple information box that
    can be used for announcements, 
    tournament, match items on the
    pages.
                
\***************************************/

div.widget {
    background: #EEEEEE;
    float: left;
    margin-bottom: 20px;
}
div.full            { width: 700px; } /* 160 + 20 + 160 + 20 + 160 + 20 + 160 */
div.threefourth     { width: 520px; } /* 160 + 20 + 160 + 20 + 160 */
div.half            { width: 340px; } /* 160 + 20 + 160 */
div.fourth          { width: 160px; } /* 160 */

/* These are the icons widths, so these are slightly redundant */
div.widget-title-left,
div.widget-title-right  { width:20px; } 

/* This is assuming widget-title-centre is surrounded by icons */
div.full            div.widget-title-centre { width:580px; } /* 700 - 20*2 - 20*4 */
div.threefourth     div.widget-title-centre { width:400px; } /* 520 - 20*2 - 20*4 */
div.half            div.widget-title-centre { width:220px; } /* 340 - 20*2 - 20*4 */
div.fourth          div.widget-title-centre { width: 40px; } /* 160 - 20*2 - 20*4 */

div.half:nth-of-type(odd) {
    margin-right: 20px;
    clear: both;
}

div.widget-title {
    text-decoration: none;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    word-wrap:break-word;
    padding: 10px 0px;
    background: #333333;
    color: #EEEEEE;
    letter-spacing:-4px;
    transition: opacity .1s;
    -moz-transition: opacity .1s;
    -webkit-transition: opacity .1s;
    -o-transition: opacity .1s;
}
div.widget-title div {
    vertical-align: middle;
    letter-spacing: 0px;
    display: inline-block; *display: inline; zoom: 1;
    margin-right:-4px;
}

a div.widget-title-centre { text-decoration: underline; }
a div.widget-title:hover { opacity:0.9; }

div.widget-title-right.icon,
div.widget-title-left.icon {
    margin-left: 20px;
    margin-right: 20px;
    position:relative;
    top:-2px;
}
div.widget-body {
    padding:20px;
    background: #EEEEEE;
    overflow: hidden;
}

a div.widget-title-right {
    transition: left opacity .1s;
    -moz-transition: left opacity .1s;
    -webkit-transition: left opacity .1s;
    -o-transition: left opacity .1s;
}

a:hover div.widget-title-right.icon { -webkit-animation: imove .5s; }
@-webkit-keyframes imove {
    0%      { left:   0px;  opacity: 1; }
    49%     { left:  20px;  opacity: 0; }
    51%     { left: -60px;  opacity: 0; }
    100%    { left:   0px;  opacity: 1; }
}
















/***************************************\

            FullCalendar CSS
                
\***************************************/

#content .fc .fc-header { margin-top:20px; }
#content .fc .fc-border-separate{ border-collapse: collapse; }
#content .fc div.fc-view-month th.fc-widget-header { padding: 10px; }
#content .fc table.fc-agenda-days th.fc-widget-header{ padding: 5px; }

#content .fc div.fc-view-agendaDays th.fc-agenda-axis { padding-right: 20px; }
#content .fc div.fc-view-agendaWeek th.fc-agenda-axis {
    padding-right: 10px;
    text-align: right;
    line-height:20px;
}
#content .fc div.fc-view-agendaDay th.fc-agenda-axis {
    padding-right: 10px;
    text-align: right;
    line-height:20px;
}

#content .fc td, #content .fc th {
    padding: inherit;
    position: inherit;
}

#content .fc table {
    background: none;
    padding: inherit;
}
.fc .fc-event-skin {
    opacity: none;
    background: none;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-sizing: border-box;
}
.fc .fc-event-skin.fc-corner-left {
	border-radius: 			3px 0px 0px 3px;
	-webkit-border-radius: 	3px 0px 0px 3px;
	-moz-border-radius: 	3px 0px 0px 3px;
}
.fc .fc-event-skin.fc-corner-right {
	border-radius: 			0px 3px 3px 0px;
	-webkit-border-radius: 	0px 3px 3px 0px;
	-moz-border-radius: 	0px 3px 3px 0px;
}
.fc .fc-event-skin.fc-corner-top {
	border-radius: 			3px 3px 0px 0px;
	-webkit-border-radius: 	3px 3px 0px 0px;
	-moz-border-radius: 	3px 3px 0px 0px;
}
.fc .fc-event-skin.fc-corner-top {
	border-radius: 			0px 0px 3px 3px;
	-webkit-border-radius: 	0px 0px 3px 3px;
	-moz-border-radius: 	0px 0px 3px 3px;
}
.fc .fc-event-skin.fc-corner-left.fc-corner-right,
.fc .fc-event-skin.fc-corner-top.fc-corner-bottom {
	border-radius: 			3px;
	-webkit-border-radius: 	3px;
	-moz-border-radius: 	3px;
}
.fc div.fc-event-inner::before { 
    content: ''; 
    position: absolute; 
    z-index: -1; 
    width:20px; 
    height:20px; 
    background-image: url('/img/icons/icons.png');
    left:0px; 
} 
.fc div.fc-event-inner { 
    padding-left:20px; 
}


#content .fc .fc-event-head .fc-event-skin {
    padding: 0px;
}
#content .fc .fc-event-head {
    margin: 0px;
    background: none !important; 
}

.fc .fc-event .fc-event-time{
    line-height:13px;
    padding: 1px;
    margin-right: 2px;
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.fc .fc-event-content, .fc .fc-event-title {
    word-wrap:break-word;
    overflow: hidden;
}
.fc .fc-event .fc-event-content, {
    padding: 4px;
    background: none;
}
.fc .fc-event {
    margin: 2px;
    padding: 2px;
    background: none;   
}
#content .fc .fc-event {
    font-size: 12px;
    box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event {
    box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event-bg{
    background: rgba(255,255,255,0);
}
#content .fc .fc-event.match                { background: #0B40AF; }
#content .fc .fc-event.match:hover          { background: #4067C1; }
#content .fc .fc-event.tournament           { background: #81A800; }
#content .fc .fc-event.tournament:hover     { background: #9ABB00; }
#content .fc .fc-event.registration         { background: #D13B00; }
#content .fc .fc-event.registration:hover   { background: #F64600; }













/***************************************\

            Datatables
                
\***************************************/

.dataTables_wrapper .dataTables_paginate{ height:40px; margin-top: 20px;}
.dataTables_wrapper .dataTables_info    { height:40px; margin-top: 20px; }
.dataTables_wrapper .dataTables_length  { height:50px; }
.dataTables_wrapper .dataTables_filter  { height:40px; margin-bottom:20px; }
.dataTables_wrapper table.dataTable thead th {
    border:none;
    padding:0px 20px 0px 20px;
}
.dataTables_wrapper table.dataTable td {
    padding: 10px 10px;
    line-height: 20px;
}
.dataTables_wrapper table td, .dataTables_wrapper table th {
    top: 0px;
}
div.DTED_Lightbox_Wrapper div.DTE_Field_Type_text input {
    padding:10px;
}
.DTE_Field img.ui-datepicker-trigger {
    margin-right:20px;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */


.text-align-left    {text-align:left;}
.text-align-right   {text-align:right;}
.text-align-center  {text-align:center;}
.margin-left        {margin-left: 20px;}
.margin-right       {margin-right: 20px;}
.left {float:left;}
.right {float:right;}
.visible {display:block;}
.invisible {display:none;}
.pointer {cursor:pointer;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
