/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






















/***************************************\

            Page Wide Styling
                
\***************************************/

body {
    font-family: 'Roboto', sans-serif;
    background: #EEE;
    color: #333333;
}

body * {
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}

/***************************************\

            General Typography
                
\***************************************/

h1, h2, h3, p {
    position:relative;
    margin-bottom:20px;
}
h1          { line-height: 40px; }
h2, h3, p   { line-height: 20px; }
h1 { font-size: 30px; top: 10px; }
h2 { font-size: 20px; top: 3px; }
h3 { font-size: 18px; top: 4px; }
p  { font-size: 16px; top: 5px; }
p.indent    { text-indent:20px; }

a, h1 a, h2 a, h3 a, p a { color: #0D42A8; }
a:hover p a:hover, h1 a:hover, h2 a:hover, h3 a:hover { color: #4165C8; }

/* Lists, dictionaries */
ul, dl, ol {
    position: relative;
    top: 5px;
    margin-left:40px;
    margin-bottom:20px;
}
dt { font-weight: bold; }

/* inline quotes, blocks, figures, addresses */
q:before    { content: '"'; }
q:after     { content: '"'; }

figure, blockquote {
    margin-bottom:20px;
}

address, blockquote, pre {
    position: relative;
    top: 4px;
}
figcaption {
    position: relative;
    top: 5px;
}

/***************************************\

            Table Styling
                
\***************************************/
table {
    background: #EEEEEE;
    margin-bottom: 20px;
}
td, th {
    font-size: 16px;
    position: relative;
    top: 4pt;
    line-height: 40px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
th { text-align: left; }
table.full          { width: 700px; }
table.threefourth   { width: 520px; }
table.half          { width: 340px; }
table.fourth        { width: 160px; }

/***************************************\

            Form Styling
                
\***************************************/

form table { border-bottom: solid 20px #EEE; }

input, select, textarea {
    font-family: inherit;
    display: inline-block; *display: inline; zoom: 1;
    font-size: 16px;
}
input, textarea {
    background: #FFFFFF;
    padding: 10px;
    border: none;
}
textarea {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* All single line text inputs */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input:not([type]) {
    line-height: 40px;
    height: 20px;
    margin: 0px;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
                inset 0px 1px 2px rgba(0,0,0,0.6);
}
label {
    display: block;
}
textarea {
    line-height: 20px;
    min-height: 80px;
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
                inset 0px 1px 2px rgba(0,0,0,0.6), 
                inset 0px 0px 1px rgba(0,0,0,0.6);
}



























/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
	Describes the position of elements
*/
.left {float:left;}
.right {float:right;}
.visible {display:block;}
.invisible {display:none;}
.pointer {cursor:pointer;}


.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
