/***************************************\

			Page Wide Styling
				
\***************************************/

/*body {
	background: #<?=$centre['backgroundColour']?>;
}*/
body {
	font-family: 'Roboto', sans-serif;
	background: #EEE;
	color: #333333;
}

body * {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}


/***************************************\

			General Typography
				
\***************************************/

h1, h2, h3, p {
	position:relative;
	margin-bottom:20px;
}
h1 			{ line-height: 40px; }
h2, h3, p 	{ line-height: 20px; }
h1 { font-size: 30px; top: 10px; }
h2 { font-size: 20px; top: 3px; }
h3 { font-size: 18px; top: 4px; }
p  { font-size: 16px; top: 5px; }
p.indent 	{ text-indent:20px; }

a, h1 a, h2 a, h3 a, p a { color: #0D42A8; }
a:hover p a:hover, h1 a:hover, h2 a:hover, h3 a:hover { color: #4165C8; }

/* Lists, dictionaries */
ul, dl, ol {
	position: relative;
	top: 5px;
	margin-left:40px;
	margin-bottom:20px;
}
dt { font-weight: bold; }

/* inline quotes, blocks, figures, addresses */
q:before 	{ content: '"'; }
q:after 	{ content: '"'; }

figure, blockquote {
	margin-bottom:20px;
}

address, blockquote, pre {
	position: relative;
	top: 4px;
}
figcaption {
	position: relative;
	top: 5px;
}

/***************************************\

			Table Styling
				
\***************************************/
table {
	background: #EEEEEE;
	margin-bottom: 20px;
}
td, th {
	font-size: 16px;
	position: relative;
	top: 4pt;
	line-height: 40px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
th { text-align: left; }
table.full 			{ width: 700px; }
table.threefourth 	{ width: 520px; }
table.half 			{ width: 340px; }
table.fourth 		{ width: 160px; }

/***************************************\

			Form Styling
				
\***************************************/

form table { border-bottom: solid 20px #EEE; }

input, select, textarea {
	font-family: inherit;
	display: inline-block; *display: inline; zoom: 1;
	font-size: 16px;
}
input, textarea {
	background: #FFFFFF;
	padding: 10px;
	border: none;
}
/* All single line text inputs */
input[type='text'],
input[type='password'],
input:not([type]) {
	line-height: 40px;
	height: 20px;
	margin: 0px;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
				inset 0px 1px 2px rgba(0,0,0,0.6);
}
label {
	display: block;
}
textarea {
	line-height: 20px;
	min-height: 80px;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), 
				inset 0px 1px 2px rgba(0,0,0,0.6), 
				inset 0px 0px 1px rgba(0,0,0,0.6);
}

/***************************************\

			General Structure
				
\***************************************/

#header-block, #middle-block, #footer-block {
	width: 880px;
	margin: auto auto;
}
#header { display: block; }
#header-block { height: 160px; }
#middle {
	padding-top:20px;
	padding-bottom:20px;
}
#middle-block { overflow: hidden; }
#menu {
	float: left;
	width: 160px;
	margin-right: 20px;
}
#content {
	float: left;
	width: 700px;
}


















/***************************************\

				Header
				
\***************************************/

#header 			{ background: #0D44A2; }
#header:hover 		{ background: #3F68BB; }
#header 			{ font-weight: 700; text-decoration: none; color: #FFF; }
#header-block 		{ background-image: url('/img/header/header.png'); }
#header-title 		{ position:relative; top:57px; font-size:40px; }
#header-subtitle 	{ position:relative; top:83px; font-size:20px; }
#header {
	transition: background .1s;
	-moz-transition: background .1s; /* Firefox 4 */
	-webkit-transition: background .1s; /* Safari and Chrome */
	-o-transition: background .1s; /* Opera */
}









/***************************************\

				Middle
				
\***************************************/

#middle 		{ background: #FFF; }













/***************************************\

				Menu

\***************************************/

#menu ul { margin: 0px 0px 40px 0px; }
#menu li {
	margin-left:30px;
	list-style:none;
	height: 60px;
	position:relative;
	top: -5px;
}

#menu a {
	font-size:20px;
	color: inherit;
	text-decoration:none;
}
#menu a:hover,
#menu a.selected,
#menu a.selected:hover { color: #0D42A8; }
#menu a.selected,
#menu a.selected:hover { font-weight:700; }

#menu div.icon {
	position:relative;
	top:20px;
	left:-30px;
	display: block;
}
#menu .homepage 			div.icon 	{ background-position: -20px -200px; }
#menu .calendar 			div.icon 	{ background-position: -20px -220px; }
#menu .tournaments 			div.icon 	{ background-position: -20px -240px; }
#menu .matches 				div.icon 	{ background-position: -20px -260px; }
#menu .tickets 				div.icon 	{ background-position: -20px -280px; }
#menu .help 				div.icon 	{ background-position: -20px -300px; }
#menu .account 				div.icon 	{ background-position: -20px -320px; }
#menu .login 				div.icon 	{ background-position: -20px -340px; }
#menu .logout 				div.icon 	{ background-position: -20px -360px; }
#menu .register 			div.icon 	{ background-position: -20px -380px; }

#menu a.homepage:hover 		div.icon 	,#menu a.selected.homepage 		div.icon 	{ background-position: -40px -200px; }
#menu a.calendar:hover 		div.icon 	,#menu a.selected.calendar 		div.icon	{ background-position: -40px -220px; }
#menu a.tournaments:hover 	div.icon 	,#menu a.selected.tournaments 	div.icon	{ background-position: -40px -240px; }
#menu a.matches:hover		div.icon 	,#menu a.selected.matches 		div.icon	{ background-position: -40px -260px; }
#menu a.tickets:hover 		div.icon 	,#menu a.selected.tickets 		div.icon	{ background-position: -40px -280px; }
#menu a.help:hover 			div.icon 	,#menu a.selected.help 			div.icon	{ background-position: -40px -300px; }
#menu a.account:hover 		div.icon 	,#menu a.selected.account 		div.icon	{ background-position: -40px -320px; }
#menu a.login:hover 		div.icon 	,#menu a.selected.login 		div.icon	{ background-position: -40px -340px; }
#menu a.logout:hover 		div.icon 	,#menu a.selected.logout		div.icon	{ background-position: -40px -360px; }
#menu a.register:hover		div.icon 	,#menu a.selected.register		div.icon	{ background-position: -40px -380px; }
















/***************************************\

			Content Styling
	
	Most of it is already covered above
	in General Typography.
				
\***************************************/

#content h1 { color: #0D44A2; }
#content h1 div.icon.subsection {
	background-position: -20px -80px;
	margin-left: 20px;
	margin-right: 20px;
}
#content h3 div.icon, #content h2 div.icon {
	position: relative;
	top:-4px;
	margin-bottom:-4px;
}
#content blockquote {
	margin-left: 20px;
	padding-left: 20px;
	border-left: solid 20px #EEE;
	padding-bottom: 20px;
	padding-top: 20px;
}




















/***************************************\

			Footer Styling
				
\***************************************/

#footer {
	padding-bottom:40px;
	background: #EEE;
}
#footer-block {
	letter-spacing:-4px;
	vertical-align: top;
}

#footer-contact, #footer-links 	{ width:340px; } /* 160 + 20 + 160 */
#footer-powered 				{ width:160px; } /* 160 */

#footer-powered, #footer-contact, #footer-links {
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
	letter-spacing: 0px;
	position: relative;
	top:5px;
}
#footer-links, #footer-powered 	{ margin-left: 20px; }

#footer a 		{ color: inherit; }
#footer a:hover { opacity: 0.8; cursor:pointer; }
#footer h1 {
	font-size: 20px;
	margin-bottom: 20px;
	position: relative;
	top: 8px;
}
#footer p {
	margin: 0px;
}
#footer-powered .product-logo, #footer-powered .company-logo {
	width:100px;
	height:40px;
	background-image:url('/img/icons/icons.png');
	margin-bottom: 10px;
}
#footer-powered .product-logo{ background-position: -460px -60px; }
#footer-powered .company-logo{ background-position: -460px -20px; }
#footer-powered div:hover{ opacity: 0.8; }



































/*
	Jquery Action headings and crap
*/
#content .ui-widget{
	font-size: inherit;
	font-family: inherit;
}
#content .ui-widget-content {
	padding: 20px;
	background: #EEE;
}
#content .ui-corner-all, #content .ui-corner-top, #content .ui-corner-right, #content .ui-corner-tr{
	border-radius: 0px;
}
#content .ui-state-active, #content .ui-widget-content .ui-state-active, #content .ui-widget-header .ui-state-active{
	border: none;
}
#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default{
	border: none;	
}
#content h3.sectionHeading{
	padding: 40px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #EEE;
	line-height: 40px;
	background: #333333;
	position: relative;
	top: 0px;
}

#content h3.sectionHeading:hover{
	opacity: 0.8;
}

#content div.sectionBody{
	border-radius: 0px;
	border: none;
}

#content #sectionHeading-submit










/**
	FULL CALENDAR
**/
#content .fc .fc-header {
	margin-top:20px;
}
#content .fc .fc-border-separate{
	border-collapse: collapse;
}

#content .fc div.fc-view-month th.fc-widget-header {
	padding: 10px;
}
#content .fc table.fc-agenda-days th.fc-widget-header{
	padding: 5px;
}

#content .fc div.fc-view-agendaDays th.fc-agenda-axis {
	padding-right: 20px;
}
#content .fc div.fc-view-agendaWeek th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	line-height:20px;
}
#content .fc div.fc-view-agendaDay th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	line-height:20px;
}

#content .fc td, #content .fc th {
	padding: inherit;
	position: inherit;
}

#content .fc table {
	background: none;
	padding: inherit;
}
.fc .fc-event-skin {
	opacity: none;
	background: none;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
}
#content .fc .fc-event-head .fc-event-skin {
	padding: 0px;
}
#content .fc .fc-event-head {
	margin: 0px;
	background: none !important; 
}

.fc .fc-event .fc-event-time{
	line-height:13px;
	padding: 1px;
	margin-right: 2px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.fc .fc-event-content, .fc .fc-event-title {
	word-wrap:break-word;
	overflow: hidden;
}
.fc .fc-event .fc-event-content, {
	padding: 4px;
	background: none;
}
.fc .fc-grid .fc-event {
	margin: 2px;
	padding: 2px;
	background: none;	
}
#content .fc .fc-event {
	font-size: 12px;
	box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event {
	box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event-bg{
	background: rgba(255,255,255,0);
}
#content .fc .fc-event.match				{ background: #0B40AF; }
#content .fc .fc-event.match:hover			{ background: #4067C1; }
#content .fc .fc-event.tournament			{ background: #81A800; }
#content .fc .fc-event.tournament:hover		{ background: #9ABB00; }
#content .fc .fc-event.registration			{ background: #D13B00; }
#content .fc .fc-event.registration:hover	{ background: #F64600; }










.dataTables_wrapper .dataTables_paginate{ height:40px; margin-top: 20px;}
.dataTables_wrapper .dataTables_info 	{ height:40px; margin-top: 20px; }
.dataTables_wrapper .dataTables_length 	{ height:50px; }
.dataTables_wrapper .dataTables_filter  { height:40px; margin-bottom:20px; }
.dataTables_wrapper table.dataTable thead th {
	border:none;
	padding:0px 20px 0px 20px;
}
.dataTables_wrapper table.dataTable td {
	padding: 10px 10px;
	line-height: 20px;
}
.dataTables_wrapper table td, .dataTables_wrapper table th {
	top: 0px;
}
















/*
	Leif's Custom widget div, which is a simple information box that can
	be used for announcements, tournament, match items on the pages.
*/
div.widget {
	background: #EEEEEE;
	display: inline-block; *display: inline; zoom: 1;
	margin-bottom: 20px;
	vertical-align: top;
	margin-right:-4px;
}
div.full 			{ width: 700px; } /* 160 + 20 + 160 + 20 + 160 + 20 + 160 */
div.threefourth 	{ width: 520px; } /* 160 + 20 + 160 + 20 + 160 */
div.half 			{ width: 340px; } /* 160 + 20 + 160 */
div.fourth 			{ width: 160px; } /* 160 */

/* These are the icons widths, so these are slightly redundant */
div.widget-title-left,
div.widget-title-right	{
	width:20px;
} 

/* This is assuming widget-title-centre is surrounded by icons */
div.full 			div.widget-title-centre { width:580px; } /* 700 - 20*2 - 20*4 */
div.threefourth 	div.widget-title-centre { width:400px; } /* 520 - 20*2 - 20*4 */
div.half 			div.widget-title-centre { width:220px; } /* 340 - 20*2 - 20*4 */
div.fourth 			div.widget-title-centre { width: 40px; } /* 160 - 20*2 - 20*4 */

div.half:nth-of-type(even) { margin-left: 20px; }

div.widget-title {
	text-decoration: none;
	font-size: 20px;
	line-height: 40px;
	width: 100%;
	word-wrap:break-word;
	padding: 10px 0px;
	background: #333333;
	color: #EEEEEE;
	letter-spacing:-4px;
	transition: opacity .1s;
	-moz-transition: opacity .1s;
	-webkit-transition: opacity .1s;
	-o-transition: opacity .1s;
}
div.widget-title div {
	vertical-align: middle;
	letter-spacing: 0px;
	display: inline-block; *display: inline; zoom: 1;
	margin-right:-4px;
}

a div.widget-title-centre { text-decoration: underline; }
a div.widget-title:hover { opacity:0.9; }

div.widget-title-right.icon,
div.widget-title-left.icon {
	margin-left: 20px;
	margin-right: 20px;
	position:relative;
	top:-2px;
}
div.widget-body {
	padding:20px;
	background: #EEEEEE;
	overflow: hidden;
}

a div.widget-title-right.icon { background-position: -120px -60px; }
a div.widget-title-right {
	transition: left opacity .1s;
	-moz-transition: left opacity .1s;
	-webkit-transition: left opacity .1s;
	-o-transition: left opacity .1s;
}

a:hover div.widget-title-right.icon { -webkit-animation: imove .5s; }
@-webkit-keyframes imove {
	0% 		{ left:   0px; 	opacity: 1; }
	49% 	{ left:  20px; 	opacity: 0; }
	51% 	{ left: -60px; 	opacity: 0; }
	100% 	{ left:   0px; 	opacity: 1; }
}

div.widget.announcement 	div.widget-title-left.icon { background-position: -160px -280px; }
div.widget.tournament 		div.widget-title-left.icon { background-position: -60px  -240px; }
div.widget.match 			div.widget-title-left.icon { background-position: -60px  -260px; }
div.widget.welcome-message 	div.widget-title-left.icon { background-position: -60px  -200px; }
div.widget.subscribe 		div.widget-title-left.icon { background-position: -60px  -380px; }
div.widget.profile 			div.widget-title-left.icon { background-position: -60px  -320px; }
div.widget.signup 			div.widget-title-left.icon { background-position: -60px  -380px; }
div.widget.tickets 			div.widget-title-left.icon { background-position: -160px -340px; }

div.widget.welcome-message 	div.widget-title { background: #0D44A2; }
div.widget.subscribe 		div.widget-title { background: #D93600; }

div.widget.tournament.sportCategoryID-18 	div.widget-title-left.icon,
div.widget.tournament.sportID-8 			div.widget-title-left.icon 		{ background-position: -320px -220px; }
div.widget.tournament.sportname-hurdling 	div.widget-title-left.icon,
div.widget.tournament.sportID-10 			div.widget-title-left.icon 		{ background-position: -380px -220px; }














/***************************************\

			Messaging system

	These are the divs that appear
	at the top of the page if something
	important happens.
				
\***************************************/

.message{
	overflow:hidden;
	padding: 20px 20px 0px 20px;
	margin-bottom: 20px;
	border-radius: 			4px;
	-webkit-border-radius: 	4px;
	-moz-border-radius: 	4px;
}

.message.message-information 	{ background: #D0DAEE; color: #0D42A8; box-shadow: inset 0px 0px 1px #0D42A8; }
.message.message-success 		{ background: #E4EDCD; color: #7BA800; box-shadow: inset 0px 0px 1px #7BA800; }
.message.message-error 			{ background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }
.message.message-warning 		{ background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }

/* The icons that appear within the message */
.message 				div.icon 	{ float: left; }
.message 				div.icon 	{ background-position: -440px -20px; }
.message-information 	div.icon 	{ background-position: -440px -20px; }
.message-error 			div.icon 	{ background-position: -440px -40px; }
.message-success 		div.icon 	{ background-position: -440px -60px; }
.message-warning 		div.icon 	{ background-position: -440px -80px; }




















/***************************************\

			Large Buttons
				
\***************************************/
a.button, input[type='submit'] {
	font-family: 'Roboto', sans-serif;
	border: none;
	background:#EEE;
	text-decoration: none;
	line-height: 20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right: 20px;
	display:inline-block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
a.button				, input[type='submit']				{ color: #333333; background:#FFFFFF; box-shadow: 0px 1px 2px rgba(0,0,0,1.0), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:hover			, input[type='submit']:hover		{ color: #333333; background:#FFFFFF; box-shadow: 0px 1px 2px rgba(0,0,0,1.0), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:active			, input[type='submit']:active		{ color: #333333; background:#EEEEEE; box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0px 1px 4px rgba(0,0,0,1); }
a.button:active * 		, input[type='submit']:active *		{ color: #333333; opacity: 0.5; }

a.button.normal 		, input[type='submit'].normal		{ color: #333333; background:#EEEEEE; }
a.button.normal:hover 	, input[type='submit'].normal:hover	{ color: #333333; background:#FFFFFF; }
a.button.normal:active 	, input[type='submit'].normal:active{ color: #333333; background:#EEEEEE; }

a.button.blue			, input[type='submit'].blue			{ color: #FFFFFF; background:#0D42A8; }
a.button.blue:hover		, input[type='submit'].blue:hover	{ color: #FFFFFF; background:#3F68BB; }
a.button.blue:active	, input[type='submit'].blue:active	{ color: #D1DAF2; background:#0D42A8; }

a.button.green			, input[type='submit'].green		{ color: #FFFFFF; background:#81A800; }
a.button.green:hover 	, input[type='submit'].green:hover	{ color: #FFFFFF; background:#9ABB00; }
a.button.green:active	, input[type='submit'].green:active	{ color: #E6EDC5; background:#81A800; }

a.button.red			, input[type='submit'].red			{ color: #FFFFFF; background:#D13B00; }
a.button.red:hover		, input[type='submit'].red:hover	{ color: #FFFFFF; background:#F64600; }
a.button.red:active		, input[type='submit'].red:active	{ color: #FBE1B6; background:#D13B00; }

p a.button, p input[type='submit'] {
	position: relative;
	top:-5px;
}

a.button .icon { margin-bottom: -5px; }

.right .button { margin-left: 20px; }
.left .button { margin-right: 20px; }

























/***************************************\

				Icons
				
\***************************************/
div.icon {
	width: 20px;
	height: 20px;
	background-image: url('/img/icons/icons.png');
	background-position: 20px 20px;
	background-repeat: no-repeat;
	display: inline-block; *display: inline; zoom: 1;
}

div.icon.load {
	-webkit-animation: play-black .8s steps(8) infinite;
       -moz-animation: play-black .8s steps(8) infinite;
        -ms-animation: play-black .8s steps(8) infinite;
         -o-animation: play-black .8s steps(8) infinite;
            animation: play-black .8s steps(8) infinite;
}
div.widget-title div.icon.load {
	-webkit-animation: play-white .8s steps(8) infinite;
       -moz-animation: play-white .8s steps(8) infinite;
        -ms-animation: play-white .8s steps(8) infinite;
         -o-animation: play-white .8s steps(8) infinite;
            animation: play-white .8s steps(8) infinite;
}
@-webkit-keyframes 	play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-moz-keyframes 	play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-ms-keyframes 		play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-o-keyframes 		play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@keyframes 			play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }

@-webkit-keyframes 	play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-moz-keyframes 	play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-ms-keyframes 		play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-o-keyframes 		play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@keyframes 			play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }

.match.sportID-8 	div.icon 	{ background-position:  -320px -200px; }
.match.sportID-9 	div.icon 	{ background-position:  -380px -200px; }
.match.sportID-10 	div.icon 	{ background-position:  -380px -200px; }

div.icon.subscribe 				{background-position:   -20px -380px;}
div.icon.announcement 			{background-position:  -120px -280px;}

div.icon.block-black-light 		{background-position: -40px -20px;}
div.icon.block-black-medium 	{background-position: -20px -20px;}
div.icon.block-black-dark 		{background-position: 0px -20px;}

div.icon.block-blue-light 		{background-position: -40px 0px;}
div.icon.block-blue-medium 		{background-position: -20px 0px;}
div.icon.block-blue-dark 		{background-position: 0px 0px;}

div.icon.block-white		 	{background-position: -60px -20px;}
div.icon.arrow-right-white			{background-position: -140px -20px;}

div.icon.arrow-right-black-light 	{background-position: -120px -20px;}
div.icon.arrow-right-black-gray 	{background-position: -100px -20px;}
div.icon.arrow-right-black-dark 	{background-position: -80px -20px;}

div.icon.arrow-right-blue-light 	{background-position: -120px 0px;}
div.icon.arrow-right-blue-medium 	{background-position: -100px 0px;}
div.icon.arrow-right-blue-dark 		{background-position:  -80px 0px;}

div.icon.dalek-black 		{background-position:  -560px -20px;}
div.icon.dalek-white 		{background-position:  -580px -20px;}

.text-align-left {text-align:left;}
.text-align-right {text-align:right;}
.margin-left { margin-left: 20px; }
.margin-right { margin-right: 20px; }










/*SIGNUP PAGE */

/*
#sectionHeading-submit {
	background: #e6e6e6 url('/img/vendor/jqueryui/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #444;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	padding-left: 2.2em;
}