/*body {
	background: #<?=$centre['backgroundColour']?>;
}*/
body {
	font-family: 'Roboto', sans-serif;
	background: #EEE;
	color: #333333;
}

body * {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}











/**


		Website Structure CSS


*/

#header {
	width: 100%;
	display: block;
	margin: auto auto;
}
#header-block {
	width: 880px;
	height: 160px;
	margin: auto auto;
}
#middle {
	padding-top:20px;
	padding-bottom:20px;
	width:100%;
	overflow: hidden;
}
#middle-block {
	overflow: hidden;
	width: 880px;
	margin: auto auto;
}
#menu {
	float: left;
	width: 160px;
	margin-right: 10px;
}
#content {
	margin-left: 10px;
	float: left;
	width: 700px;
}
#footer {
	clear:both;
	margin: auto auto;
	width: 100%;
	display: block;
}
#footer-block {

	clear:both;
	width:880px;
	margin: auto auto;
}


















/**


		Header CSS


*/

#header 			{ background: #0D44A2; }
#header:hover 		{ background: #3F68BB; }
#header 			{ font-weight: 700; text-decoration: none; color: #FFF; }
#header-block 		{ background-image: url('/img/header/header.png'); }
#header-title 		{ position:relative; top:57px; font-size:40px; }
#header-subtitle 	{ position:relative; top:83px; font-size:20px; }
#header {
	transition: background .1s;
	-moz-transition: background .1s; /* Firefox 4 */
	-webkit-transition: background .1s; /* Safari and Chrome */
	-o-transition: background .1s; /* Opera */
}









/**


		Middle CSS


*/

#middle 		{ background: #FFF; }













/**


		Menu CSS


*/

#menu ul {
	margin-bottom:40px;
}
#menu a {
	font-size:20px;
	color: inherit;
	text-decoration:none;
}
#menu li {
	margin-left:30px;
	list-style:none;
	height: 60px;
	position:relative;
	/*top:3px;*/
}
#menu div.icon {
	position:relative;
	/*top:17px;*/
	top:20px;
	left:-30px;
	display: block;
}

#menu a:hover { color: #0D42A8; }
#menu a.selected {
	color: #0D42A8;
	font-weight:700;
}
#menu a.selected:hover {
	color: #0D42A8;
	font-weight:700;
}
#menu a.selected div { background-position: 0px 0px; }
#menu a{
	transition: color .1s;
	-moz-transition: color .1s; /* Firefox 4 */
	-webkit-transition: color .1s; /* Safari and Chrome */
	-o-transition: color .1s; /* Opera */
}

#menu a:hover div {
	background-position: 0px 0px;
}

#menu .homepage div.icon 		{background-position: -20px -200px;}
#menu .calendar div.icon 		{background-position: -20px -220px;}
#menu .tournaments div.icon 	{background-position: -20px -240px;}
#menu .matches div.icon 		{background-position: -20px -260px;}
#menu .tickets div.icon 			{background-position: -20px -280px;}
#menu .help div.icon 			{background-position: -20px -300px;}
#menu .account div.icon 			{background-position: -20px -320px;}
#menu .signin div.icon 			{background-position: -20px -340px;}
#menu .signout div.icon 			{background-position: -20px -360px;}
#menu .register div.icon 		{background-position: -20px -380px;}

#menu a.homepage:hover 		div.icon 	,#menu a.homepage.selected div.icon 	{background-position: -40px -200px;}
#menu a.calendar:hover 		div.icon 	,#menu a.calendar.selected div.icon		{background-position: -40px -220px;}
#menu a.tournaments:hover 	div.icon 	,#menu a.tournaments.selected div.icon	{background-position: -40px -240px;}
#menu a.matches:hover		div.icon 	,#menu a.matches.selected div.icon		{background-position: -40px -260px;}
#menu a.tickets:hover 		div.icon 	,#menu a.tickets.selected div.icon		{background-position: -40px -280px;}
#menu a.help:hover 			div.icon 	,#menu a.help.selected div.icon			{background-position: -40px -300px;}
#menu a.account:hover 		div.icon 	,#menu a.account.selected div.icon		{background-position: -40px -320px;}
#menu a.signin:hover 		div.icon 	,#menu a.signin.selected div.icon		{background-position: -40px -340px;}
#menu a.signout:hover 		div.icon 	,#menu a.signout.selected div.icon		{background-position: -40px -360px;}
#menu a.register:hover		div.icon 	,#menu a.register.selected div.icon		{background-position: -40px -380px;}
















/**


		Content CSS


*/

#content h1 {
	font-size: 30px;
	line-height: 40px;
	position:relative;
	top: 8pt;
	margin-bottom:20px;
	color: #0D44A2;
}
#content h2 {
	font-size: 20px;
	line-height: 20px;
	position:relative;
	top: 2pt;
	margin-bottom:20px;
}
#content h3 {
	font-size: 18px;
	line-height: 20px;
	position:relative;
	top: 3pt;
	margin-bottom:20px;
}
#content p {
	font-size: 16px;
	line-height: 20px;
	position:relative;
	top: 4pt;
	margin-bottom:20px;
}
#content p a, #content h1 a, #content h2 a, #content h3 a, #content p i, #content p b, #content p em {
	display: inline-block; *display: inline; zoom: 1;
}
p a, h1 a, h2 a, h3 a {
	color: #0D42A8;
}
p a:hover, h1 a:hover, h2 a:hover, h3 a:hover {
	color: #4165C8;
}
 p a:visited, h1 a:visited, h2 a:visited, h3 a:visited {
	color: #3F68BB;
}
#content p.indent 	{ text-indent:20px; }
#content p.indent a, #content h1.indent a, #content h2.indent a, #content h3.indent a { text-indent: 0px; }
#content p.newline,#content h1.newline,#content h2.newline,#content h3.newline { margin-bottom:40px; }

#content ul, #content dl, #content ol {
	position: relative;
	top: 5px;
	margin-left:40px;
	margin-bottom:20px;
}
#content dt { font-weight: bold; }
#content q:before 	{ content: '"'; }
#content q:after 	{content: '"'; }
#content blockquote {
	position: relative;
	top: 4px;
	margin-left: 20px;
	padding-left: 20px;
	border-left: solid 20px #EEE;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 20px;
}
#content address {
	position: relative;
	top: 4px;
}
#content pre {
	position: relative;
	top: 4px;
}
#content figcaption {
	position: relative;
	top: 5px;
}
#content figure {
	margin-bottom:20px;
}















/*
	Form Elements
*/
#content input[type='text'], #content input:not([type]) {
	line-height: 40px;
	font-size: 16px;
	font-family: inherit;
	display: inline-block; *display: inline; zoom: 1;
	height: 20px;
	padding: 10px;
	margin: 0px;
	border: none;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), inset 0px 1px 2px rgba(0,0,0,0.6);
}
#content label{
	display: block;
}
#content select {
	font-size: 16px;
	font-family: inherit;
	display: inline-block; *display: inline; zoom: 1;
}
#content textarea {
	line-height: 20px;
	font-size: 16px;
	font-family: inherit;

	border: none;
	display: inline-block; *display: inline; zoom: 1;
	padding: 10px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6), inset 0px 1px 2px rgba(0,0,0,0.6), inset 0px 0px 1px rgba(0,0,0,0.6);
	min-height: 80px;
}
#content textarea.h200 { height: 200px; }
#content textarea.h300 { height: 300px; }
#content textarea.h400 { height: 400px; }
#content textarea.h500 { height: 500px; }







/*
	Jquery Action headings and crap
*/
#content .ui-widget{
	font-size: inherit;
	font-family: inherit;
}
#content .ui-widget-content {
	padding: 20px;
	background: #EEE;
}
#content .ui-corner-all, #content .ui-corner-top, #content .ui-corner-right, #content .ui-corner-tr{
	border-radius: 0px;
}
#content .ui-state-active, #content .ui-widget-content .ui-state-active, #content .ui-widget-header .ui-state-active{
	border: none;
}
#content .ui-state-default, #content .ui-widget-content .ui-state-default, #content .ui-widget-header .ui-state-default{
	border: none;	
}
#content h3.sectionHeading{
	padding: 40px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #EEE;
	line-height: 40px;
	background: #333333;
	position: relative;
	top: 0px;
}

#content h3.sectionHeading:hover{
	opacity: 0.8;
}

#content div.sectionBody{
	border-radius: 0px;
	border: none;
}

#content #sectionHeading-submit










/**
	FULL CALENDAR
**/
#content .fc .fc-header {
	margin-top:20px;
}
#content .fc .fc-border-separate{
	border-collapse: collapse;
}

#content .fc div.fc-view-month th.fc-widget-header {
	padding: 10px;
}
#content .fc table.fc-agenda-days th.fc-widget-header{
	padding: 5px;
}

#content .fc div.fc-view-agendaDays th.fc-agenda-axis {
	padding-right: 20px;
}
#content .fc div.fc-view-agendaWeek th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	line-height:20px;
}
#content .fc div.fc-view-agendaDay th.fc-agenda-axis {
	padding-right: 10px;
	text-align: right;
	line-height:20px;
}

#content .fc td, #content .fc th {
	padding: inherit;
	position: inherit;
}

#content .fc table {
	background: none;
	padding: inherit;
}
.fc .fc-event-skin {
	opacity: none;
	background: none;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-sizing: border-box;
}
#content .fc .fc-event-head .fc-event-skin {
	padding: 0px;
}
#content .fc .fc-event-head {
	margin: 0px;
	background: none !important; 
}

.fc .fc-event .fc-event-time{
	line-height:13px;
	padding: 1px;
	margin-right: 2px;
	background: rgba(0,0,0,0.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.fc .fc-event-content, .fc .fc-event-title {
	word-wrap:break-word;
	overflow: hidden;
}
.fc .fc-event .fc-event-content, {
	padding: 4px;
	background: none;
}
.fc .fc-grid .fc-event {
	margin: 2px;
	padding: 2px;
	background: none;	
}
#content .fc .fc-event {
	font-size: 12px;
	/*padding: 2px;*/
	box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event {
	box-shadow: inset 0px 1px rgba(255,255,255,0.6), 0px 1px 0px rgba(0,0,0,0.3), 0px 1px 4px rgba(0,0,0,0.6);
}
#content .fc .fc-event-bg{
	background: rgba(255,255,255,0);
}
#content .fc .fc-event.match				{ background: #0B40AF; }
#content .fc .fc-event.match:hover			{ background: #4067C1; }
#content .fc .fc-event.tournament			{ background: #81A800; }
#content .fc .fc-event.tournament:hover		{ background: #9ABB00; }
#content .fc .fc-event.registration			{ background: #D13B00; }
#content .fc .fc-event.registration:hover	{ background: #F64600; }









/*
	Tables
*/
#content table 				{ display: table;}
#content tbody 				{ display: table-row-group; }
#content thead 				{ display: table-header-group; }
#content tr 				{ display: table-row; }
#content td, #content th 	{ display: table-cell; }
#content th {
	text-align: left;
}
#content table {
	background: #EEEEEE;
	margin-bottom: 20px;
}

#content td, #content th {
	font-size: 16px;
	position: relative;
	top: 4pt;
	line-height: 40px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#content table.full 		{ width: 700px; }
#content table.threefourth 	{ width: 520px; }
#content table.half 		{ width: 340px; }
#content table.fourth 		{ width: 160px; }









/*
	Leif's Custom widget div, which is a simple information box that can
	be used for news, tournament, match items on the pages.
*/
#content div.widget {
	background: #EEEEEE;
	display:inline-block;
	margin-bottom: 20px;
}
#content div.widget.full {
	display:block;
	width: 700px;
}
#content div.widget.threefourth, #content div.widget.half, #content div.widget.fourth {
	margin-right:-4px;
	display: inline-block; *display: inline; zoom: 1;
	vertical-align: top;
}
#content div.widget.threefourth { width: 520px; }
#content div.widget.half { width: 340px; }
#content div.widget.fourth { width: 160px; }
#content div.half:nth-of-type(even) {
	margin-left: 20px;
}

#content div.widget-title {
	width: 100%;
	word-wrap:break-word;
	padding:10px;
	padding-left:0px;
	padding-right:0px;
	font-size: 20px;
	line-height: 40px;
	background: #333333;
	color: #EEEEEE;
	letter-spacing:-4px;
	transition: opacity .1s;
	-moz-transition: opacity .1s;
	-webkit-transition: opacity .1s;
	-o-transition: opacity .1s;
}
#content div.widget-title div {
	/*font-size:20px;*/
	/*float: left;*/
	/*overflow: hidden;*/
	letter-spacing: 0px;
	display: inline-block; *display: inline; zoom: 1;
	margin-right:-4px;
}
#content div.widget-title:hover {
	opacity:0.9;
}
#content div.widget-title-left { width:20px; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; }
#content div.half div.widget-title-centre { width:220px; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; margin-right:-4px;}
#content div.full div.widget-title-centre { width:580px; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; margin-right:-4px;}
#content div.threefourth div.widget-title-centre { width:400px; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; margin-right:-0px;}
#content div.fourth div.widget-title-centre { width:40px; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; margin-right:-0px;}
#content div.widget-title-right { width:20px; overflow: hidden; display: inline-block; *display: inline; zoom: 1; vertical-align:middle; margin-right:-0px; }
#content div.widget-title-right.icon { margin-left: 20px; margin-right: 20px; position:relative; top:-2px; }
#content div.widget-title-left.icon { margin-left: 20px; margin-right: 20px; position:relative; top:-2px;}
#content div.widget-body {
	padding:20px;
	background: #EEEEEE;
	overflow: hidden;
}


/*
	Leif's custom messaging system
*/
#content .message{
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 0px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 20px;
	overflow:hidden;
}
#content .message.message-information { background: #D0DAEE; color: #0D42A8; box-shadow: inset 0px 0px 1px #0D42A8; }
#content .message.message-success { background: #E4EDCD; color: #7BA800; box-shadow: inset 0px 0px 1px #7BA800; }
#content .message.message-error { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }
#content .message.message-warning { background: #FFDFBF; color: #D93600; box-shadow: inset 0px 0px 1px #D93600; }

#content .message .icon {
	float: left;
}

/*
	Leif's Custom button inline block, which can have nice icons inside
*/
a.button, input[type='submit'] {
	/*font-family: inherit;*/
	border: none;
	background:#EEE;
	text-decoration: none;
	line-height: 20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 20px;
	padding-right: 20px;
	display:inline-block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/*transition: background .1s, box-shadow .1s;
	-moz-transition: background .1s, box-shadow .1s;
	-webkit-transition: background .1s, box-shadow .1s;
	-o-transition: background .1s, box-shadow .1s;*/
}
a.button * {
	/*transition: opacity .1s;
	-moz-transition: opacity .1s;
	-webkit-transition: opacity .1s;
	-o-transition: opacity .1s;*/
}
a.button				, input[type='submit']				{ color: #333333; background:#FFFFFF; box-shadow: 0px 1px 1px rgba(0,0,0,0.8), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:hover			, input[type='submit']:hover		{ color: #333333; background:#FFFFFF; box-shadow: 0px 1px 1px rgba(0,0,0,0.8), inset 0px 0px 1px rgba(0,0,0,1); }
a.button:active			, input[type='submit']:active		{ color: #333333; background:#EEEEEE; box-shadow: 0px 1px 1px rgba(0,0,0,0.4), inset 0px 1px 4px rgba(0,0,0,1); }
a.button:active * 		, input[type='submit']:active *		{ color: #333333; opacity: 0.5; }

a.button.normal 		, input[type='submit'].normal		{ color: #333333; background:#EEEEEE; }
a.button.normal:hover 	, input[type='submit'].normal:hover	{ color: #333333; background:#FFFFFF; }
a.button.normal:active 	, input[type='submit'].normal:active{ color: #333333; background:#EEEEEE; }

a.button.blue			, input[type='submit'].blue			{ color: #FFFFFF; background:#0D42A8; }
a.button.blue:hover		, input[type='submit'].blue:hover	{ color: #FFFFFF; background:#3F68BB; }
a.button.blue:active	, input[type='submit'].blue:active	{ color: #D1DAF2; background:#0D42A8; }

a.button.green			, input[type='submit'].green		{ color: #FFFFFF; background:#81A800; }
a.button.green:hover 	, input[type='submit'].green:hover	{ color: #FFFFFF; background:#9ABB00; }
a.button.green:active	, input[type='submit'].green:active	{ color: #E6EDC5; background:#81A800; }

a.button.red			, input[type='submit'].red			{ color: #FFFFFF; background:#D13B00; }
a.button.red:hover		, input[type='submit'].red:hover	{ color: #FFFFFF; background:#F64600; }
a.button.red:active		, input[type='submit'].red:active	{ color: #FBE1B6; background:#D13B00; }

p a.button, p input[type='submit'] {
	position: relative;
	top:-5px;
}

a.button .icon { margin-bottom: -5px; }

.right .button { margin-left: 20px; }
.left .button { margin-right: 20px; }


/**


		Footer CSS


*/

#footer {
	padding-top:40px;
	padding-bottom:40px;
	background: #EEE;
}
#footer-block {
	letter-spacing:-4px;
	vertical-align: top;
}
#footer-legal {
	letter-spacing: 0px;
	width:340px;
	display: inline-block; *display: inline; zoom: 1;
	position: relative;
	top:5px;
	vertical-align: top;
}
#footer-links {
	letter-spacing: 0px;
	vertical-align: top;
	width:340px;
	display: inline-block; *display: inline; zoom: 1;
	margin-left: 20px;
	position: relative;
	top:5px;
}
#footer-links a {
	color: inherit;
}
#footer-links a:hover {
	opacity: 0.8;
}
#footer-powered {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block; *display: inline; zoom: 1;
	width:160px;
	position: relative;
	top:5px;
}
#footer h3 {
	margin-bottom: 20px;
	/*position: relative;*/
	letter-spacing: 0px;
	/*top:5px;*/
}
#footer-powered .product-logo{
	width:100px;
	height:40px;
	background-image:url('/img/icons/icons.png');
	background-position: -460px -60px;
	margin-bottom: 10px;
}
#footer-powered .company-logo{
	width:100px;
	height:40px;
	background-image:url('/img/icons/icons.png');
	background-position: -460px -20px;
}
#footer-powered div:hover{
	opacity: 0.8;
}



/*

	Icon parameters
*/
div.icon {
	width: 20px;
	height: 20px;
	background-image: url('/img/icons/icons.png');
	background-position: 20px 20px;
	background-repeat: no-repeat;
	display: inline-block; *display: inline; zoom: 1;
}

div.widget-title div.icon.sport-wattball {background-position: -320px -220px;}
div.widget-title div.icon.sport-hurdling {background-position: -380px -220px;}
div.widget-title div.icon.square 		 {background-position: -120px -20px;}
div.widget-title div.icon.circle 		 {background-position: -120px -40px;}
div.widget-title div.icon.chevron 		 {background-position: -120px -60px;}
div.widget-title div.icon.right-arrow 	 {background-position: -120px -80px;}
div.widget-title div.icon.news			 {background-position: -160px -280px;}
div.widget-title div.icon.home			 {background-position: -60px -200px;}
div.widget-title div.icon.signup		 {background-position: -60px -380px;}

h1 div.icon.subsection {background-position: -20px -80px;}

.button div.icon.load {
	-webkit-animation: play-black .8s steps(8) infinite;
       -moz-animation: play-black .8s steps(8) infinite;
        -ms-animation: play-black .8s steps(8) infinite;
         -o-animation: play-black .8s steps(8) infinite;
            animation: play-black .8s steps(8) infinite;
}
div.widget-title div.icon.load {
	-webkit-animation: play-white .8s steps(8) infinite;
       -moz-animation: play-white .8s steps(8) infinite;
        -ms-animation: play-white .8s steps(8) infinite;
         -o-animation: play-white .8s steps(8) infinite;
            animation: play-white .8s steps(8) infinite;
}
@-webkit-keyframes 	play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-moz-keyframes 	play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-ms-keyframes 		play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@-o-keyframes 		play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }
@keyframes 			play-black	{ from { background-position: -400px -20px; } to { background-position: -400px -180px; } }

@-webkit-keyframes 	play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-moz-keyframes 	play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-ms-keyframes 		play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@-o-keyframes 		play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }
@keyframes 			play-white	{ from { background-position: -420px -20px; } to { background-position: -420px -180px; } }

div.icon.block-black-light 		{background-position: -40px -20px;}
div.icon.block-black-medium 	{background-position: -20px -20px;}
div.icon.block-black-dark 		{background-position: 0px -20px;}

div.icon.block-blue-light 		{background-position: -40px 0px;}
div.icon.block-blue-medium 		{background-position: -20px 0px;}
div.icon.block-blue-dark 		{background-position: 0px 0px;}

div.icon.block-white		 	{background-position: -60px -20px;}
div.icon.arrow-right-white			{background-position: -140px -20px;}

div.icon.arrow-right-black-light 	{background-position: -120px -20px;}
div.icon.arrow-right-black-gray 	{background-position: -100px -20px;}
div.icon.arrow-right-black-dark 	{background-position: -80px -20px;}

div.icon.arrow-right-blue-light 	{background-position: -120px 0px;}
div.icon.arrow-right-blue-medium 	{background-position: -100px 0px;}
div.icon.arrow-right-blue-dark 		{background-position:  -80px 0px;}

div.icon.dalek-black 		{background-position:  -560px -20px;}
div.icon.dalek-white 		{background-position:  -580px -20px;}

.message-information div.icon 	{background-position: -440px -20px;}
.message-error div.icon 		{background-position: -440px -40px;}
.message-success div.icon 		{background-position: -440px -60px;}
.message-warning div.icon 		{background-position: -440px -80px;}

div.icon.margin-left { margin-left: 20px; }
div.icon.margin-right { margin-right: 20px; }
div.icon {
	/*vertical-align: top;*/
	/*overflow: visible;*/
	/*position: relative;*/
	/*top: 30px;*/
	/*box-shadow: 0px 1px 1px rgba(0,0,0,0.8), inset 0px 0px 1px rgba(0,0,0,1);*/
}

.text-align-left {text-align:left;}
.text-align-right {text-align:right;}
.right {float: right;}
.left {float: left;}
.margin-left { margin-left: 20px; }
.margin-right { margin-right: 20px; }










/*SIGNUP PAGE */

/*
#sectionHeading-submit {
	background: #e6e6e6 url('/img/vendor/jqueryui/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #444;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	padding-left: 2.2em;
}*/