body {
	background:#FFF;
}

#header{
	min-height:60px;
	height:auto;
	background:#00468C;
	position:relative;
	width:100%;
	overflow: auto;
	font-family: sans-serif;
	color: #FFF;
}
#header #title-bar{
	display: block;
	margin:10px;
	font-size: 24px;
	color:inherit;
}
#header #title-bar .logo{
	float:left;
	width:48px;
	height:35px;
	background-image:url('/img/hwsports/logo/tms.medium.png');
}

#header #title-bar .name{
	padding-left:20px;
	padding-top:7px;
	font-weight: bold;
	float:left;
}

#header #title-bar .system{
	padding-left:10px;
	padding-top:7px;
	opacity: 0.7;
	float:left;
}

#header #user-bar {
	vertical-align: bottom;
	margin:10px;
	margin-top:23px;
	margin-right:20px;
	opacity: 0.7;
	font-size:14px;
	color: #FFF;
}

#header #user-bar a {
	color: #FFF;
} 

#header #user-bar .username{
	font-weight: bold;
}
#header #user-bar .sep{
	margin-left:10px;
	margin-right:10px;
	font-size:16px;
}

#header .logout{
	color: #FFF;
	padding-top:7px;
}


#menu ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	width:190px;
}
#menu ul a {color: inherit; text-decoration:none;}

#menu {
	float: left;
	position: relative;
	left:0px;
	width:190px;
	margin-bottom:30px;
}

#menu li{
	opacity:0.8;
	border-right: 1px solid #C8C8C8; 
	font-size:16px;
	padding: 10px;
	padding-left:44px;
	color:#000;
	background:#EEE;
	background-repeat: no-repeat;
	background-position: 20px 12px;
}

#menu li.selected{
	background:#C8C8C8;
	font-weight:bold;
	background-repeat: no-repeat;
	background-position: 20px 12px;
}

#menu li:hover{
	background:#FFF;
	cursor: hand;
	background-repeat: no-repeat;
	background-position: 20px 12px;
}

#menu a li.last-child{
	border-bottom: 1px solid #C8C8C8; 
}

#menu li.home				{ background-image: url(/img/hwsports/icons/home.14.png); }
#menu li.tournaments 		{ background-image: url(/img/hwsports/icons/tournament.14.png); }
#menu li.venues 			{ background-image: url(/img/hwsports/icons/venue.14.png); }
#menu li.sports 			{ background-image: url(/img/hwsports/icons/sport.14.png); }
#menu li.matches 			{ background-image: url(/img/hwsports/icons/match.14.png); }
#menu li.groups 			{ background-image: url(/img/hwsports/icons/group.14.png); }
#menu li.users 				{ background-image: url(/img/hwsports/icons/user.14.png); }
#menu li.news 				{ background-image: url(/img/hwsports/icons/news.14.png); }
#menu li.tickets 			{ background-image: url(/img/hwsports/icons/tickets.14.png); }
#menu li.reports 			{ background-image: url(/img/hwsports/icons/report.14.png); }
#menu li.appearance 		{ background-image: url(/img/hwsports/icons/appearance.14.png); }
#menu li.settings 			{ background-image: url(/img/hwsports/icons/settings.14.png); }
#menu li.personal-settings	{ background-image: url(/img/hwsports/icons/personal-settings.14.png); }











#content{
	float: left;
	width:70%;
	min-width:400px;
	max-width:800px;
	min-height:480px;
	position:relative;
	/*left:210px;*/
	z-index:0;
	margin-left:20px;
	margin-bottom:50px;
	color:#444;
	font-size:14px;
}

#content .widget {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	background:#FEFEFE;
}

#content .content {
	display: inline-block;
	vertical-align: top;
	width: 620px;
	background:#FEFEFE;
}
#content a {
	color: #00468C;
	text-decoration: underline;
}

#content div.row {
	margin-left:10px;
	margin-bottom:10px;
}

#content p {
	font-size:14px;
	margin:0px;
	padding:0px;
	padding-bottom:5px;
}

#content p.subtitle {
	font-size:12px;
}

#content h1 {
	font-size: 26px;
	color: #00468C; 
}

#content h2 {
	font-size: 16px;
	color: #00468C; 
}

#content td, #content th {
	text-align: left;
}


#content button {
	text-decoration: none;
	background: #eee;
	border: 1px solid #ccc;
	font-weight: bold;
	box-shadow: 0px 1px 0px #ccc;
	font-size: inherit;
	color: #444;
}
#content button {
	color: #aaa !important;
	border: 1px solid #d8d8d8 !important;
	background: #fff !important;
}




#venuemap {
	width: 500px !important;
	height: 200px !important;
	display: none;
}

#mapcontainer {
	width: 500px;
	height: 200px;
	margin: 20px auto;
}

#content td, #content th {
	padding:10px;
	text-align:left;
}











#content .jTPS tfoot .pagination .pageSelector:hover {
        border: 1px solid #00468C;
}
#content .jTPS tfoot .pagination .hilightPageSelector {
        border: 1px solid #00468C !important;
        background: #00468C !important;
}
#content .jTPS tfoot .selectPerPage .perPageSelected {
        border-bottom: 2px solid #00468C;
}
#content .jTPS tfoot .selectPerPage .perPageHilight {
        border-bottom: 1px solid #00468C;
}
#content .jTPS tfoot td {
        background:#F1F1F1;
}
#content .jTPS thead th {
		border-top: 1px solid #C8C8C8;
        padding: 6px !important;
        background:#F1F1F1;
}
#content .jTPS thead {
		border-left: 1px solid #C8C8C8;
		border-right: 1px solid #C8C8C8;
        padding: 10px !important;
}
#content .jTPS thead th .sortDesc {
        border-bottom: 1px solid #C8C8C8;
        background:#FFFFFF;
}
#content .jTPS tfoot {
        border-left: 1px solid #C8C8C8;
		border-right: 1px solid #C8C8C8;
		border-bottom: 1px solid #C8C8C8;
}
#content .jTPS tbody td {
        padding: 6px !important;
}
#content .jTPS tbody td {
        border-bottom: 1px solid #C8C8C8;
}
















#content button.DTTT_button, #content div.DTTT_button, #content a.DTTT_button {
	text-decoration: none;
	background: #eee;
	border: 1px solid #ccc;
	font-weight: bold;
	box-shadow: 0px 1px 0px #ccc;
	font-size: inherit;
	color: #444;
}
#content button.DTTT_disabled, #content div.DTTT_disabled, #content a.DTTT_disabled {
	color: #aaa !important;
	border: 1px solid #d8d8d8 !important;
	background: #fff !important;
}

#content table.dataTable {
	box-shadow: 0px 0px 1px #000;
	margin-bottom:20px;
}

#content table.dataTable thead th {
	border-bottom: 1px solid #ccc;
}

#content table.dataTable tr.even                            { background-color: #ffffff; }
#content table.dataTable tr.odd                             { background-color: #f8f8f8; }
#content table.dataTable tr.DTTT_selected.even              { background-color: #e8e8ff; }
#content table.dataTable tr.DTTT_selected.odd               { background-color: #dfdff8; }

#content table.dataTable tr.even td.sorting_1               { background-color: #e8e8e8; }
#content table.dataTable tr.odd  td.sorting_1               { background-color: #dfdfdf; }
#content table.dataTable tr.DTTT_selected.even td.sorting_1 { background-color: #cfcfe8; }
#content table.dataTable tr.DTTT_selected.odd  td.sorting_1 { background-color: #c8c8df; }

body .DTED_Lightbox_Content{
	border: 1px solid #000 !important;
	border-radius:0px !important;
}
body .DTED_Lightbox_Content button{
	border-radius: 0px !important;
}






#content .fc-state-default .fc-button-effect span {
	border-width: 0px;
	border-style: none;
	border-color: none;
	background: #eee;
}
#content .fc-state-default, .fc-state-default .fc-button-inner {
	border-color: #CCC;
	box-shadow: 0px 1px 0px #CCC;
}





#footer {
	border-top:1px solid #C8C8C8;
	vertical-align: middle;
	clear: both;
	height: 35px;
	color: #000;
	padding: 20px;
}

#footer .info{
	float:left;
	width:50%;
	opacity: 0.5;
}
#footer .system{
	height: 33px;
	float:right;
	opacity: 0.5;
	font-weight:bold;
	vertical-align: middle;
}

#footer a {
	color: #000;
}

#footer .logo{
	vertical-align: middle;
	display: inline-block;
	width:99px;
	height:33px;
	background-image:url('/img/hwsports/logo/is.medium.png');
}
#footer .logo:after{
	content: ' | ';
	position: relative;
	top: 5px;
	padding-left:115px;
}


