/* -------------------------------------------------------
Based on Grayed Out table design
Author: Terence Ordona
URL: http://www.imaputz.com/
 ------------------------------------------------------- */
div.ricoLG_outerDiv *, div.ricoLG_outerDiv div.ricoLG_cell, div.ricoLG_editDiv *, .ricoTitle, .Rico_tabTitle, .Rico_accTitle, .ricoTree *, .ricoBookmark  {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.Rico_accordion , .Rico_tabPanel, .ricoWindow {
  font-size:80%;
}
.ricoWindow .Rico_accordion , .ricoWindow .Rico_tabPanel{
  font-size:90%;
}
div.ricoLG_outerDiv div.ricoLG_cell, table.ricoLiveGrid td, table.ricoLiveGrid th  {
  font-size: 70%;
  font-weight: normal;
}

tr.ricoLG_hdg th, tr.ricoLG_hdg td, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
  background-color: #FFF !important;
}

.ricoLG_bottom div.ricoLG_cell, table.ricoLG_table, thead.ricoLG_top th, thead.ricoLG_top td, table.ricoLiveGrid td, table.ricoLiveGrid th, .ricoLG_bottom th, .ricoLG_bottom td {
  border-color: #CCC !important;
}

div.ricoLG_outerDiv .ricoLG_bottom div.ricoLG_cell {
/*  border-bottom: none; */
  padding: 5px;
}

tr.ricoLG_hdg .ricoLG_cell {
  font-weight: normal;
}

div.ricoLG_outerDiv .ricoLG_top a:visited, div.ricoLG_outerDiv .ricoLG_top a:link {
  color: #009;
  text-decoration: none;
}

div.ricoLG_outerDiv .ricoLG_top a:hover {
  color: #009;
  text-decoration: underline;
}

div.ricoLG_selection {
  background-color: #999;
  color: #FFF;
}

div.ricoLG_messageDiv {
  border:2px solid #999;
  background-color:#ffffff;
  color:#009;
}

div.ricoLG_highlightDiv {
  border-color: #999;
}

a.RicoButton {
  background-color: #999;
  color: #FFF;
}
a.RicoButton.hover {
  background-color: #AAA;
}

caption {
  text-align: left;
  font-size: 100%;
  padding: .75em;
  color: #000;
}

.ricoWindow {
  border: 1px solid #CCC;
  background-color: #FAFAFA;
}
.ricoTitle  {
  background-color: #FFF !important;
  border-bottom: 1px solid #CCC;
  color: #000;
  font-weight: bold;
}

.Rico_tabNavContainer .selected {
  background: #999;
  cursor: auto;
}
.Rico_tabContent, .noTabContent {
  background: #F4F4F4;
}

.Rico_tabContentContainer, .noTabContent {
  border : 1px solid #999;
}
.Rico_tabTitle {
  height: 1.5em;
  background: #DDD;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 3px 5px 0px 5px;
}

.Rico_accTitle {
  background-color: #FFF !important;
  height: 1.7em;
  font-weight : normal;
  border-bottom:1px solid #CCC;
  border-top:1px solid #CCC;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accTitle a , .Rico_tabTitle a {
  color : #559;
  text-decoration: none;
}
.Rico_accordion .hover a, .Rico_tabNavContainer .hover a {
  color : #000;
}
.Rico_accordion .selected a {
  color : #000;
  font-weight : bold;
}
.Rico_tabNavContainer .selected a {
  color : #FFF;
  font-weight : bold;
}
.Rico_accordion  {
  border : 1px solid #CCC;
}
td.RicoCalHeading, .ricoCalContainer tfoot td {
  background-color: #999;
  color:#FFFFFF;
}
.ricoCalContainer  {
  background-color:#DDD;
}
span.Rico_leftArrow {
  background-position: -10px -1077px;
}
span.Rico_rightArrow {
  background-position: -10px -1139px;
}
.RicoCalHeading span.RicoClose {
  background-position: -10px -155px;
}
.RicoCalHeading a.hover, .RicoCalHeading  a.ricoCloseHover {
  background-color: #AAA !important;
}
.RicoCalHeading a:link, .RicoCalHeading a:visited {
  color:#FFFFFF;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
