/* 
 *Rico stylesheet
 */

/* reset Themeroller font size */ 
div.ui-widget {
  font-size: 80%;
}
.ui-dialog {
  width: auto !important;
}

/* LiveGrid & SimpleGrid */
 
.ricoLG_outerDiv {
  position:relative;
}

div.ricoLG_innerDiv, div.ricoLG_frozenTabsDiv {
  overflow:hidden;
  margin:0px;
  padding:0px;
  position:relative;
}

div.ricoLG_scrollDiv {
  overflow:scroll;
  position:relative;
}

div.ricoLG_scrollContainerDiv {
  position:relative;
}

div.ricoLG_scrollTabDiv {
  position:absolute;
  top:0px;
  overflow:hidden;
}

div.ricoLG_resizeDiv {
  position:absolute;
  top:0px;
  width:1px;
  z-index:2;
  background-color:blue;
}

div.ricoLG_highlightDiv {
  position:absolute;
  border: 2px solid black;
}

.ricoLG_table, .ricoLG_scrollTab, table.ricoLiveGrid {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid silver;
  border-left-width: 0px;  /* for dojo */
}

.ricoLG_FilterRow div.ricoLG_cell {
  height:1.6em;
  line-height: 1.6em;
  white-space: nowrap;
}
.ricoLG_FilterRow  div.ricoLG_cell * {
  vertical-align: top;
}
.ricoLG_FilterRow select {
  width:100%; 
}

.ricoLG_FilterRow input, .ricoLG_FilterRow select, .ricoLG_FilterRow option {
  font-weight: normal;
  font-size: 90% !important;
  padding: 1px;
}

div.ricoLG_mFilter {
  position:absolute;
  z-index:200;
  border: 1px solid #888;
}
div.ricoLG_mFilter {
  font-size: 67%;
}
div.ricoLG_mFilter_content {
  height: 150px;
  width: 100%;
  overflow: auto;
  background-color: white;
}
div.ricoLG_mFilter_button  button{
  font-size: 80%;
}
div.ricoLG_mFilter_button {
  padding: 3px;
  background-color: #DDD;
}
tr.ricoLG_mFilter_oddrow {
  background-color: #EEE;
}

table.ricoLG_bottom {
  border-top-style: none;
}

.ricoLG_selection { background-color: #cedebd; }

div.ricoLG_col {
  overflow:hidden;
  width:100px;
}

thead.ricoLG_top div.ricoLG_col {
  position:relative;
}

thead.ricoLG_top div.ricoLG_Resize {
  position:absolute;
  width:5px;
  height:100%;
  top:0px;
  cursor:e-resize;
}

.ricoLG_bottom div.ricoLG_cell {
  border-style: solid;
  border-color: silver;
  border-width: 0px 0px 1px 0px;
}

table.ricoLG_table, table.ricoLiveGrid  {
  border-top: 1px solid silver;
}

thead.ricoLG_top th, thead.ricoLG_top td, table.ricoLiveGrid td, table.ricoLiveGrid th {
  border-style: solid;
  border-color: silver;
  border-width: 0px 0px 1px 1px;
  *position: relative; /* IE6-7  only */
}

.ricoLG_bottom th, .ricoLG_bottom td {
  border-style: solid;
  border-color: silver;
  border-width: 0px 0px 0px 1px;
}

div.ricoLG_cell, table.ricoLiveGrid td, table.ricoLiveGrid th {
  overflow:hidden;
  height:1.2em;
  padding-left: 3px;
  margin: 0px;
  font-size: 80%;
  padding-top:3px;
  padding-bottom:3px;
}

.ricoLG_messageDiv {
  font-weight:bold;
  font-size:larger;
  text-align:center;
  padding:1em;
  background-color: #EEE;
  opacity:0.8;
}

p.ricoBookmark {
  margin-bottom: 3px;
  font-size: 80%;
  white-space: nowrap;
}

p.ricoBookmark span {
  margin-right: 1em;
}

span.ricoCaption {
  font-weight: bold;
}

span.ricoSessionTimer {
  background-color:black;
  color:white;
}

/* grid column chooser */

div.ricoLG_chooserDiv {
  z-index:200;
}
div.ricoLG_chooserDiv  .ricoContent {
  height: 13em;
  width: 16em;
}
.ricoContent {
  padding: 3px;
  overflow: auto;
}
div.ricoLG_chooserDiv .ricoContent div {
  border-bottom: 1px solid #CCC;
}
div.ricoLG_chooserDiv .ricoContent input {
  margin-right: 0.5em;
}

/* grid keyword entry */

div.ricoLG_chooserDiv, div.ricoLG_keywordDiv  {
  font-size: smaller;
}
div.ricoLG_keywordDiv {
  position:absolute;
  z-index:200;
  width: 250px;
}

div.ricoLG_keywordDiv input {
  position: relative;
  font-size: 90%;
  float: left;
}


/* LiveGrid Forms */

span.ricoSaveMsg {
  background-color:yellow;
}

span.ricoSessionTimer {
  background-color:black;
  color:white;
}

div.ricoLG_editResponseDiv {
  color:#000; background:#E8ECF3;
  overflow:auto;
  padding:8px;
  border: 1px solid navy;
  position:absolute;
  z-index:300;
  top:0px;
  left:0px;
  font-size: 85%;
}

form .ricoEditLabel sup {
  font-size: smaller;
}

form .ricoEditLabel {
  font-weight: bold;
  text-align: left;
  padding-right: 1em;
}

.ricoLG_editDiv a.RicoButton {
  text-decoration: none;
  padding: 0.3em 1em;
  margin-right: 6px;
}

.ricoLG_editDiv div.ButtonBar {
  padding: 0.4em 0px;
  margin: 3px;
}

.ricoLG_editDiv form {
  margin:0px;
}

.ricoLG_editDiv textarea {
  font-size: 100%;
}

.ricoLG_editDiv .tabContent, div.ricoLG_editDiv .noTabContent {
  overflow: hidden;
  padding: 4px;
  white-space:nowrap;
}


/* shadows */
.ricoShadow {
  -moz-box-shadow: 3px 3px 4px #888;
  -webkit-box-shadow: 3px 3px 4px #888;
  box-shadow: 3px 3px 4px #888;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#aaaaaa')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#aaaaaa');
}


/* ricoMenu */

div.ricoMenu, div.ricoMenuSafari {
border:1px solid #666;
padding:2px;
cursor:default;
font-family:tahoma,arial,helvetica,sans-serif;
font-size: 70%;
}

div.ricoMenu, div.ricoMenu a {
background-color:menu;
color: menutext;
text-decoration: none;
display:block;
}

div.ricoMenuSafari, div.ricoMenuSafari a {
background-color:#EDEDED;
text-decoration: none;
display:block;
}

div.ricoMenu div.ricoMenuHeading{
padding: 1px 0px;
font-weight:bold;
}

div.ricoMenuSafari div.ricoMenuHeading{
padding: 1px 0px;
color: black;
display: block;
font-weight:bold;
}

div.ricoMenu .enabled {
position: relative;
}

div.ricoMenuSafari .enabled {
color: black;
}

div.ricoMenu .enabled, div.ricoMenu .enabled-hover, div.ricoMenuSafari .enabled, div.ricoMenuSafari .enabled-hover, div.ricoMenu .disabled, div.ricoMenuSafari .disabled {
padding-left: 1em;
padding-top:0.1em;
padding-bottom:0.1em;
z-index: 101;
}

div.ricoMenu .disabled, div.ricoMenuSafari .disabled {
color: #999;
}

div.ricoMenu hr{
height:1px;
margin:1px;
border:0;
color: menu;
background-color: menu;
}

div.ricoMenu .enabled-hover, div.ricoMenu .ricoSubMenuOpen {
   background-color: Highlight;
   color:            HighlightText;
}

div.ricoMenuSafari .enabled-hover, div.ricoMenuSafari .ricoSubMenuOpen {
   background-color: #1657B8;
   color:            white;
}

div.ricoMenu .ricoSubMenu, div.ricoMenu .ricoSubMenuOpen, div.ricoMenuSafari .ricoSubMenu, div.ricoMenuSafari .ricoSubMenuOpen {
padding: 1px 0px;
display: block;
font-weight:bold;
z-index: 101;
position: relative;
}

div.ricoMenu div.ricoMenuBreak, div.ricoMenuSafari div.ricoMenuBreak {
height:1px;
margin:3px 0 3px 0;
padding:0;
background-color: #AAA;
width:100%;
line-height:5px;
overflow:hidden;
}

a.RicoButton {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}


/* Rico.Window */


.ricoTitle {
  padding: 3px;
  cursor: move;
}

.ricoTitleSpan {
  margin-right: 25px;
  white-space: nowrap;
}

a.RicoButtonAnchorNative {
  background-color: #DDD;
  border: 1px outset;
}
a.RicoButtonAnchorNative  span {
  vertical-align: middle;
}
a.RicoButtonAnchor {
  padding: 1px;
  margin: 0px 3px;
  cursor: pointer;
  font-size: 16px;
}
a.RicoButtonAnchor span {
  display: inline-block;
}

a.RicoButtonAnchorNative:hover {
  border:1px solid #666;
  background-color: #CCC;
}

* html .ui-dialog-titlebar .ui-dialog-titlebar-close {
  top: 16px;   /* required by IE6 */
}

.ricoLG_cell .ui-icon {
  text-indent: 0px !important;
}



/* ricoKeywordSearch */
.ricoKeywordSearch {
  font-size: 70%;
}


/* ricoTree */

.ricoTreeContainer {
  background-color:#cedebd;
  border:1px solid black;
  padding:4px;
}

.ricoTree td {
  padding: 0px;
}

.ricoTree {
  border:thin inset;
  overflow:auto;
  background-color:#FFF;
}

.ricoTree p, .ricoTree a {
  margin:0px;
  padding-left:0.3em;
  white-space:nowrap;
}

.ricoTree a {
  cursor:pointer;
  text-decoration:none;
}

.ricoTree img {
  margin:0px;
  padding:0px;
  display:block;
}

.ricoTreeContainer {
  font-size:70%;
  white-space:nowrap;
}

.ricoTreeButtons {
  height:1.1em;
}

.ricoTreeButtons span:hover {
  background-color:#deeecd;
}


/* ricoCalendar */

.ricoCalContainer {
  font-size:85%;
  background-color:#eee;
}
.ricoCalBody {
  font-size:70%;
}
.ricoCalMonthPrompt {
  font-size:95%;
}
.ricoCalYearPrompt p {
  font-size:70%;
}

td.RicoCalHeading {
  text-align: left;
  padding: 0px !important;
}
* html td.RicoCalHeading {
  position: static !important; /* override Themeroller */
}
* html td.RicoCalHeading table {
  float: left;
}
* html td.RicoCalHeading .RicoCloseAnchor {
  position: static;
  float: right;
}

.ui-datepicker td.RicoCalHeading  table{
  width: auto;
  margin: 0px 2em !important;
}
.ricoCalContainer td.RicoCalHeading  table{
  width: auto;
  margin: 2px 2em 0px 2em;
}
td.RicoCalHeading td {
  padding: 0.2em 0px;
}
td.RicoCalHeading {
  font-size:90%;
}
td.RicoCalHeading table a {
  text-decoration: none;
  font-weight: bold !important;
  margin: 0px !important;
  text-align: center;
  border: 0px none !important;
  font-family: "Lucida Console", Courier, "Courier New", monospace;
}

.ui-datepicker-header  span {
  text-indent: 0px !important;
  padding: 0px !important;
}

.ricoCalContainer .ricoCalBody  td.ricoSelectedDay {
  font-weight:bold;
  background-color: #FFFF66 !important;
}

.ricoCalContainer tbody td.hover {
  background-color: #FDD;
}

span.Rico_leftArrow {
  background-position: -10px -1046px;
  display: inline-block;
  width: 10px;
  height: 11px;
}

.ui-datepicker a.Rico_leftArrow, .ui-datepicker a.Rico_rightArrow {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.ricoCalContainer a.Rico_leftArrow, .ricoCalContainer a.Rico_rightArrow {
  display: inline-block;
  width: 16px;
  height: 14px;
}

span.Rico_rightArrow {
  background-position: -10px -1108px;
  display: inline-block;
  width: 10px;
  height: 11px;
}

.ui-datepicker-header a.ui-dialog-titlebar-close {
  top: 2px;
}

div.ricoCalYearPrompt {
  margin: 0px;
  padding: 3px;
  border:1px solid #666666;
  background-color: #FEE;
}

.ricoCalYearPrompt p {
  margin: 0px;
  padding: 3px;
}

.ricoCalYearPrompt img {
  border: 1px solid black;
  margin-left: 3px;
  vertical-align: middle;
}

.ricoCalFoot td {
  font-size:75% !important;
  text-align:center;
  padding: 2px;
  text-decoration: underline;
  cursor:pointer;
}

td.ricoCalFoot {
  color:#FFF;
  background-color: #666666;
}

tr.ricoCalDayNames td {
  font-weight: bold;
/*  padding: 0px 2px 0px 2px;*/
  padding: 0px !important;
  text-align:right;
}

.ricoCalBody td {
  width:2.7em;
}

td.ricoCal0, td.ricoCal1, td.ricoCal2, td.ricoCal3, td.ricoCal4, td.ricoCal5, td.ricoCal6, td.ricoCalToday {
  text-align:right;
  text-decoration:none;
}

td.ricoCal0, td.ricoCal1, td.ricoCal2, td.ricoCal3, td.ricoCal4, td.ricoCal5, td.ricoCal6 {
  cursor:pointer;
/*  padding-right: 2px !important;*/
  padding: 0px;
}

/* Monday-Friday */
.ricoCalContainer td.ricoCal1, .ricoCalContainer td.ricoCal2, .ricoCalContainer td.ricoCal3, .ricoCalContainer td.ricoCal4, .ricoCalContainer td.ricoCal5 {
  color:black;
  background-color:#fff;
}

/* Sunday, Saturday */
.ricoCalContainer td.ricoCal0, .ricoCalContainer td.ricoCal6 {
  color:#999;
  background-color:#fff;
}

td.ricoCalToday {
  cursor:pointer;
  color:red;
  font-weight:bold;
}

.ricoCalContainer  .ricoCalBody  td.ricoCalToday {
  background-color: #33FFFF;
}

td.ricoCalWeekNum {
  background-color: #D4D0C8;
  color:black;
  text-align:center;
}

.ricoCalMenu {
  width:12em;
  background-color: #FEE;
  border-bottom:1px solid #666666;
  border-right:1px solid #666666;
}

.ricoCalMenu td {
  border-top:1px solid #666666;
  border-left:1px solid #666666;
}

.ricoCalMenu a {
  display:block;
  text-decoration:none;
  cursor:pointer;
  font-size:70%;
  text-align: center !important;
  color:black;
}

.ricoCalMenu a:hover {
  background-color: #FCC;
}


/* ricoColorPicker */

div.ricoColorPicker {
  background-color: white;
}

div.ricoColorPicker td {
  width: 12px;
  height: 12px;
  font-size: 60%;
}

/* tabbed panels and accordion */

.Rico_tabNavContainer {
  display:block;
  margin:0px;
  padding: 0px;
}

.Rico_tabTitle {
  float: left;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 0px;
  display: inline;
}
.Rico_tabContent, .Rico_accContent {
  padding: 1em;
}
.Rico_accContent {
  overflow: auto;
}
.Rico_tabContentContainer {
  clear:both;
}
.Rico_tabNavContainer .hover, .Rico_accTitle {
  cursor: pointer;
}

div.ricoCorner {
  position: absolute;
}
div.ricoCorner div {
  line-height: 1px;
  font-size:1px;
  overflow: hidden;
}

* html .Rico_tabPanel {
  height: 1%;
  position: relative;
}

* html .ui-tabs {
  position: relative;
}

* html .Rico_tabNavContainer {
  height: 1%;
  position: relative;
}

.rico-calarrow {
  width: 37px;
  height: 18px;
  display: inline-block;
  background-position: -10px -10px;
}
.rico-calendaricon {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-position: -10px -48px;
}
.rico-close-b {
  background-position: -10px -122px;
}
.rico-close-w {
  background-position: -10px -155px;
}
.rico-delete-b {
  background-position: -10px -188px;
}
.rico-delete-w {
  background-position: -10px -225px;
}
.rico-doc {
  background-position: -10px -262px;
}
.rico-dotbutton {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-position: -10px -304px;
}
.rico-drop {
  background-position: -10px -341px;
}
.rico-folderclosed {
  width: 24px;
  height: 22px;
  display: block;
  background-position: -10px -403px;
}
.rico-folderopen {
  width: 24px;
  height: 22px;
  display: block;
  background-position: -10px -445px;
}
.rico-info {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-position: -10px -487px;
}
.rico-link {
  background-position: -10px -522px;
}
.rico-tree-m {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -564px;
}
.rico-tree-node {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -606px;
}
.rico-tree-nodelast {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -648px;
}
.rico-tree-nodeline {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -690px;
}
.rico-tree-nodem {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -732px;
}
.rico-tree-nodemlast {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -774px;
}
.rico-tree-nodep {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -816px;
}
.rico-tree-nodeplast {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -858px;
}
.rico-tree-p {
  width: 16px;
  height: 22px;
  display: block;
  background-position: -10px -900px;
}
.rico-tree-nodeblank {
  width: 16px;
  height: 22px;
  display: block;
  background: none !important;
}
.rico-removeFilter {
  background-position: -10px -942px;
}
.rico-FilterCollapse {
  background-position: -10px -974px;
}
.rico-FilterExpand {
  background-position: -10px -1010px;
}
.rico-left-b {
  background-position: -10px -1046px;
  width: 10px;
  height: 11px;
}
.rico-left-w {
  background-position: -10px -1077px;
  width: 10px;
  height: 11px;
}
.rico-right-b {
  background-position: -10px -1108px;
  width: 10px;
  height: 11px;
}
.rico-right-w {
  background-position: -10px -1139px;
  width: 10px;
  height: 11px;
}

.ricoLG_filterCol {
  margin: 0px 2px;
  width: 13px;
  height: 12px;
  background-position: -10px -371px;
}
.ricoLG_sortAsc {
  margin: 0px 2px;
  width: 11px;
  height: 11px;
  background-position: -10px -1168px;
}
.ricoLG_sortDesc {
  margin: 0px 2px;
  width: 11px;
  height: 11px;
  background-position: -10px -1198px;
}

.ricoClearNative {
  width: 17px;
  height: 17px;
  background-position: -10px -186px;
}

a span {
  cursor: pointer;
}

span.ricoClear {
  display:-moz-inline-box;
  display:inline-block;
  cursor: pointer;
}

span.RicoCheckmark {
  display: inline-block;
  height: 17px;
  width: 17px;
  background-position: -10px -85px;
}

span.RicoCancel {
  display: inline-block;
  height: 17px;
  width: 17px;
  background-position: -10px -188px;
}


.RicoCloseAnchor {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 5px;
  right: 2px;
  border: 0px none !important;
}
span.RicoClose {
  display: block;
  height: 15px;
  width: 16px;
  background-position: -10px -122px;
}

/* ie6 only */
* html iframe.RicoShim {
  position: absolute;
  display:block;
  top: 0px;
  left: 0px;
  width: expression( this.previousSibling.offsetWidth+'px' );
  height: expression( this.previousSibling.offsetHeight+'px' );
  z-index: 1;
}
