/* -------------------------------------------------------
Based on sea glass table design
Author: Stephanie Leary
URL: http://www.sillybean.net/
 ------------------------------------------------------- */
.ricoLG_table, .ricoTitle, a.RicoButton, .Rico_tabTitle , .Rico_accTitle, .ricoTree *, .ricoBookmark, 
.ricoCalContainer div.ricoCalYearPrompt, .ricoCalContainer .ricoCalMenu {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Rico_accordion , .Rico_tabPanel, .ricoWindow {
  font-size:90%;
}

caption { font-size: 1.3em; font-weight: bold; text-align: left; padding: 1em 4px; }
tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg .ricoLG_cell a, tr.ricoLG_hdg .ricoLG_cell a:visited, tr.ricoLG_hdg th, tr.ricoLG_hdg td, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {
  background-color: #2C5755 !important;
  color: #ffffff !important;
  text-decoration: none;
  height: 1.4em;
  text-align: center;
  font-weight: normal;
}
tr.ricoLG_hdg .ricoLG_cell a:hover {
  text-decoration: underline;
}
.odd th { background: #6E8D88; }
.ricoLG_bottom .ricoLG_cell { padding: 3px; }
.ricoLG_bottom  a, .ricoLG_bottom  a:link { color: #325C91; }
.ricoLG_bottom  a:visited { color: #466C8E; }
.ricoLG_bottom a:hover, .ricoLG_bottom  a:focus { color: #1E4C94; }
.ricoLG_bottom {
  background-color: #f1f8ee;
  color: #033;
}
div.ricoLG_messageDiv {
  border:2px solid black;
  background-color:#f1f8ee;
  color:#2C5755;
}

div.ricoLG_selection {
  background-color: #839E99;
  color: #ffffff;
}
.ricoLG_top .ricoClearNative {
  background-position: -10px -223px;
}

.ricoWindow {
  border: 1px solid black;
  background-color: #f1f8ee;
}
.ricoTitle  {
  background-color: #2C5755;
  color: #FFF;
  padding: 0.4em 1em;
}
a.RicoButton {
  background-color: #4C7775;
  color: #FFF;
}
a.RicoButton.hover {
  background-color: #6C9795;
}

.Rico_tabNavContainer .selected {
  background: #2C5755;
  cursor: auto;
}
.Rico_tabContent, .Rico_accContent {
  background: #f1f8ee;
}

.Rico_tabContentContainer {
  border : 2px solid #2C5755;
}
.Rico_tabTitle {
  height: 1.5em;
  background: #839E99;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 5px 7px 0px 7px;
}


.Rico_accTitle {
  background-color : #2C5755;
  height: 1.7em;
  border-bottom:1px solid #1C4745;
  border-top:1px solid #6C9795;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accTitle a , .Rico_tabTitle a {
  color : #CCC;
  text-decoration: none;
}

.Rico_accordion .hover a, .Rico_tabNavContainer .hover a {
  color : #FFF;
}
.Rico_accordion .selected a, .Rico_tabNavContainer .selected a {
  color : #FFF;
  font-weight : bold;
}
.Rico_accordion  {
  border : 1px solid #1f669b;
}

td.RicoCalHeading {
  background-color: #2C5755;
  color:#FFFFFF;
}
.ricoCalContainer tfoot td {
  background-color:#1C4745;
  color:#FFFFFF;
}
.ricoCalContainer, .ricoCalContainer tr.ricoCalDayNames td  {
  background-color:#DBE6DD;
}
.ricoCalContainer div.ricoCalYearPrompt {
  background-color:#f1f8ee;
  border:1px solid #2C5755;
}
.ricoCalContainer .ricoCalMenu {
  background-color:#f1f8ee;
  border-bottom:1px solid #2C5755;
  border-right:1px solid #2C5755;
}
span.Rico_leftArrow {
  background-position: -10px -1077px;
}
span.Rico_rightArrow {
  background-position: -10px -1139px;
}
span.RicoClose {
  background-position: -10px -155px;
}
td.RicoCalHeading a.hover, a.ricoCloseHover {
  background-color: #4C7775 !important;
}
td.RicoCalHeading a:link, td.RicoCalHeading a:visited {
  color:#FFFFFF;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
