div.ricoLG_evenRow {  background-color: #ffffff; }
div.ricoLG_oddRow {  background-color: #EEF5FB; }
.ricoLG_bottom div.ui-state-hover {
  border-left: none;
  border-top: none;
  border-right: none;
}
