div.ricoLG_evenRow {  background-color: #FEF8E4; }
div.ricoLG_oddRow {  background-color: #FEEEBD; }
.ricoLG_bottom div.ui-state-hover {
  border-left: none;
  border-top: none;
  border-right: none;
}
