.ricoLG_bottom div.ricoLG_oddRow {
  background-color:#F7F4EE;
  border-top: 1px solid #EBE5D9;
  border-bottom: 1px solid #EBE5D9;
}
.ricoLG_bottom div.ricoLG_evenRow {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
