/* -------------------------------------------------------
Based on warm fall table design
Author: Mya Leigh
Theme: A Warm, Fall Table - Easy to Read
URL: http://www.myaleigh.com 
 ------------------------------------------------------- */
div.ricoLG_outerDiv *, div.ricoLG_outerDiv div.ricoLG_cell, div.ricoLG_editDiv *, .ricoTitle, .Rico_tabTitle, .Rico_accTitle, .ricoTree *, .ricoBookmark {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Rico_accordion , .Rico_tabPanel, .ricoWindow {
  font-size:90%;
}

.ricoLG_table thead {
  border-top: 1px solid #84785e;
  border-right: 1px solid #84785e;
}

tr.ricoLG_hdg .ricoLG_cell, tr.ricoLG_hdg .ricoLG_cell a, tr.ricoLG_hdg .ricoLG_cell a:visited, tr.ricoLG_hdg th, tr.ricoLG_hdg td, table.ricoLiveGrid thead td, table.ricoLiveGrid thead th {  /* td/th required for IE */
  background-color: #a24116 !important;
  color: #ffffff !important;  
  text-decoration: none;
}

.ricoLG_table th, .ricoLG_table td {
  border-left: 1px solid #84785e;
}

.ricoLG_bottom div.ricoLG_cell, .ricoLG_top th, .ricoLG_top td {
  border-color: #84785e !important;
}

tr.ricoLG_hdg .ricoLG_cell {
  background-color: #a24116;
  border: 0px none;
  color: #ffffff;  
  padding: 0.75em;
  font-weight: bold;
}

div.ricoLG_bottom a:visited, div.ricoLG_bottom a:link, div.ricoLG_bottom a:active {
  color: #101011;
  text-decoration: none;
}

div.ricoLG_outerDiv a:hover {
  text-decoration: underline;
}

div.ricoLG_outerDiv tbody a:visited {
  color:#444;
}

div.ricoLG_messageDiv {
  border:2px solid #a24116;
  background-color:#fffad0;
  color:#a24116;
}

div.ricoLG_selection {
  background-color: #923106;
  color: #ffffff;
}

.ricoLG_top .ricoClearNative {
  background-position: -10px -223px;
}

a.RicoButton {
  border: 1px solid #923106;
  color: #923106;
}
a.RicoButton.hover {
  background-color: #FFC4AA;
}

caption {
  text-align: left;
  font-size: 100%;
  padding: .75em;
  color: #000;
}

.ricoWindow {
  border: 1px solid black;
  background-color: #fffbd8;
}
.ricoTitle  {
  background-color: #a24116;
  color: #FFF;
  font-weight: bold;
}

.Rico_tabNavContainer .selected {
  background: #a24116;
  cursor: auto;
}
.Rico_tabContent, .Rico_accContent {
  background-color: #fffee1;
}

.Rico_tabContentContainer {
  border : 1px solid #4f4f4f;
}
.Rico_tabTitle {
  height: 1.5em;
  background: #923106;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  white-space:nowrap;
  overflow:hidden;
  padding: 3px 5px 0px 5px;
}


.Rico_accTitle {
  background-color : #a24116;
  height: 1.7em;
  font-weight : normal;
  border-bottom:1px solid #923106;
  border-top:1px solid #c26136;
  font-weight : normal;
  padding-left: 1em;
  padding-top:0.3em;
}

.Rico_accTitle a , .Rico_tabTitle a {
  color : #AAA;
  text-decoration: none;
}
.Rico_accordion .hover a, .Rico_tabNavContainer .hover a {
  color : #FFF;
}
.Rico_accordion .selected a, .Rico_tabNavContainer .selected a {
  color : #FFF;
  font-weight : bold;
  
}
.Rico_accordion  {
  border : 1px solid #1f669b;
}


td.RicoCalHeading {
  background-color: #a24116;
  color:#FFFFFF;
}
.ricoCalContainer tfoot td {
  background-color:#923106;
  color:#FFFFFF;
}
.ricoCalContainer, .ricoCalContainer tr.ricoCalDayNames td  {
  background-color:#f8f3d0;
}
div.ricoCalYearPrompt {
  background-color:#fffbd8;
  border:1px solid #923106;
}
table.ricoCalMenu {
  background-color:#fffbd8;
  border-bottom:1px solid #923106;
  border-right:1px solid #923106;
}
span.Rico_leftArrow {
  background-position: -10px -1077px;
}
span.Rico_rightArrow {
  background-position: -10px -1139px;
}
span.RicoClose {
  background-position: -10px -155px;
}
td.RicoCalHeading a.hover, a.ricoCloseHover {
  background-color: #c26136 !important;
}
td.RicoCalHeading a:link, td.RicoCalHeading a:visited {
  color:#FFFFFF;
}
.ricoTree a.hover {
  text-decoration: underline;
  cursor:pointer;
}
